			<div class="col-xs-4 col-md-4 side-panel">
				<div class="height-full" ng-show="true">
					<!-- menu begin -->
					<ul class="setting-sidemenu">
						<li><a href="#/settings/drivers" class="menu-icon driver active">Driver</a></li>
						<li><a href="#/settings/fleets" class="menu-icon fleets">Fleets</a></li>
						<li><a href="#/settings/groups" class="menu-icon group">Groups</a></li>
						<li><a href="#/settings/preferences" class="menu-icon preferences">Preferences</a></li>
						<button id="searchDrivers" type="button" class="btn btn-default panel-refresh pull-right"></button>
					</ul>
					<!-- menu end -->
						
					<form name="driverForm" class="form-horizontal">
						<div class="form-group">
					    <label class="col-xs-12 col-sm-3 col-md-2 control-label">ID</label>
					    <div class="col-xs-11 col-sm-7 col-md-6 padding-clear">
					    	<input type="text" name="code" ng-model="searchParams.code" placeholder="ID"></input>
					    </div>
						</div>

						<div class="form-group">
					    <label class="col-xs-12 col-sm-3 col-md-2 control-label">Name</label>
					    <div class="col-xs-11 col-sm-7 col-md-6 padding-clear">
					    	<input type="text" name="name" ng-model="searchParams.name" placeholder="Name"></input>
					    </div>
						</div>

						<div class="form-group">
					    <label class="col-xs-12 col-sm-3 col-md-2 control-label">Division</label>
					    <div class="col-xs-11 col-sm-7 col-md-6 padding-clear">
					    	<input type="text" name="division" ng-model="searchParams.division" placeholder="Division"></input>
					    </div>
						</div>
					</form>

					<!-- table begin -->
					<div id="setting-driver-table-container" class="search-table">
						<table class="table table-striped table-hover" st-pagination-scroll st-table="items" st-pipe="searchDrivers">
					    <thead>
					      <tr>
					        <th data-field="code">ID</th>
					        <th data-field="name">Name</th>
					        <th data-field="division">Division</th>
					      </tr>
					    </thead>
							<tbody>
								<tr ng-repeat="driver in items" ng-click="goDriver(driver)">
									<td>{{driver.code}}</td>
									<td>{{driver.name}}</td>
									<td>{{driver.division}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- table end -->
				</div>
			</div>