			<div class="col-xs-4 col-md-4 side-panel">
				<div class="height-full" ng-show="true">
				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li id="driverTab" role="presentation" class="active">
				    	<a href="" aria-controls="home" role="tab" data-toggle="tab">
				    		<strong>Driver</strong>
				    	</a>
				    </li>
						<button type="button" class="btn btn-default panel-toggle pull-right"></button>
						<button id="btnSearchDriver" type="button" class="btn btn-default panel-refresh pull-right"></button>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				  	<div role="tabpanel" class="tab-pane active" id="side-drivers">
				    	<driver-search></driver-search>
				    </div>
				  </div>
				</div>
			</div>