<div class="col-xs-4 col-md-4 side-panel">
	<div class="height-full">
		
		<!-- menu begin -->
		<ul class="setting-sidemenu">
			<li class="submenu-title">
				<translate name-value ="Setting" category="menu"/>
			</li>
			<li>
				<a href="#/settings/drivers">
					<translate name-value ="Drivers" category="menu"/>
				</a>
			</li>
			<li>
				<a href="#/settings/fleets">
					<translate name-value ="Fleets" category="menu"/>
				</a>
			</li>
			<li>
				<a href="#/settings/groups">
					<translate name-value ="Groups" category="menu"/>
				</a>
			</li>
			<li>
				<a href="#/settings/preferences" class="active">
					<translate name-value ="Preferences" category="menu"/>
				</a>
			</li>
			<li>
				<a href="#/settings/company">
					<translate name-value ="Company" category="menu"/>
				</a>
			</li>			
		</ul>
		<!-- menu end -->

	</div>	
</div>