<!-- side panel begin -->
<div class="col-xs-4 col-md-4 side-panel">
	<div class="height-full">
		<!-- menu begin -->
		<ul class="setting-sidemenu">
			<li><a href="#/settings/drivers" class="menu-icon driver">Driver</a></li>
			<li><a href="#/settings/fleets" class="menu-icon fleets">Fleets</a></li>
			<li><a href="#/settings/groups" class="menu-icon group">Groups</a></li>
			<li><a href="#/settings/preferences" class="menu-icon preferences active">Preferences</a></li>
		</ul>
		<!-- menu end -->
	</div>	
</div>
<!-- side panel end -->