				<!-- info & list begin -->
				<div class="infolist-panel col-md-12 padding-clear" ng-controller="InfobarCtrl">

					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active">
					    	<a href="#info" aria-controls="home" role="tab" data-toggle="tab">
					    		Selected Trip
					    	</a>
					    </li>
					    <li role="presentation">
					    	<a href="#trip-list" aria-controls="messages" role="tab" data-toggle="tab">Trip List
					    	</a>
					    </li>
					    <li role="presentation">
					    	<a href="#alert-list" aria-controls="profile" role="tab" data-toggle="tab">Alert List
					    	</a>
					    </li>
							<button type="button" class="btn btn-default icon-infolist panel-toggle pull-right margin-r15" ng-click="isInfobarToggle = !isInfobarToggle"></button>
							<button type="button" class="btn btn-default icon-panel-option size-full pull-right" ng-click="setInfobarGridContainerMode('full')"></button>
							<button type="button" class="btn btn-default icon-panel-option size-half pull-right" ng-click="setInfobarGridContainerMode('half')"></button>
							<button type="button" class="btn btn-default icon-panel-option size-mini pull-right" ng-click="setInfobarGridContainerMode('mini')"></button>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content" ng-show="isInfobarToggle">
					    <!-- info tab content begin -->
							<div role="tabpanel" class="tab-pane active" id="info">
								<monitor-info></monitor-info>
							</div>
							
							<!-- alert-list tab content begin -->
					    <div role="tabpanel" class="tab-pane" id="alert-list">
					    	<monitor-info-alerts></monitor-info-alerts>
							</div>
							
							<!-- trip-list tab content begin -->
					    <div role="tabpanel" class="tab-pane" id="trip-list">
								<monitor-info-trips></monitor-info-trips>	
							</div>
					  </div>
				</div>
				<!-- info & list end -->