								<table class="info-table">
									<tr>
										<td class="info-label">Fleet / Started at / Till</td>
										<td class="info-value">{{trip.fid}} / {{trip.stm | date:'medium'}} / {{trip.etm | date :'medium'}}</td>
									</tr>
									<!--tr>
										<td class="info-label">Duration / Distance</td>
										<td class="info-value">0 h 0 m 0 s / 0 Km</td>
									</tr-->
									<tr>
										<td class="info-label">Last Speed (Avg.)</td>
										<td class="info-value speed-status"><span class="{{trip.typeClass}}"></span><strong>{{trip.vlc}} Km/h</strong> (Avg: 41)</td>
									</tr>
									<tr>
										<td class="info-label">Speeds</td>
										<td class="info-value">
											<div class="col-xs-2 col-md-1 status-box gray padding-clear">{{trip.c_off}}</div>
											<div class="col-xs-2 col-md-1 status-box dark padding-clear">{{trip.c_idl}}</div>
											<div class="col-xs-2 col-md-1 status-box blue padding-clear">{{trip.c_low}}</div>
											<div class="col-xs-2 col-md-1 status-box green padding-clear">{{trip.c_nml}}</div>
											<div class="col-xs-2 col-md-1 status-box orange padding-clear">{{trip.c_hgh}}</div>
											<div class="col-xs-2 col-md-1 status-box red padding-clear">{{trip.c_ovr}}</div>
										</td>
									</tr>
									<tr>
										<td class="info-label">From</td>
										<td class="info-value">{{trip.fromAddress}}</td>
									</tr>
								</table>
								<!-- pagination begin -->
								<div class="pagecontainer">
									<nav class="pull-right padding-clear">
								  	<ul class="pagination">
								    <li class="padding-rl7 border-rl-lightgray" style="padding-top:3px;padding-bottom:8px">
								      <button type="button" class="btn btn-in-pagination"><span class="icon-infolist arrow-left"></span>older trip</button>
											<button type="button" class="btn btn-in-pagination">newer trip<span class="icon-infolist arrow-right"></span></button>
								    </li>
								    <li class="padding-rl7">
								      <button type="button" class="btn btn-in-pagination"><span class="icon-infolist arrow-left"></span>older alert</button>
											<button type="button" class="btn btn-in-pagination">newer alert<span class="icon-infolist arrow-right"></span></button>
								    </li>
								  </ul>
									</nav>
								</div>	
								<!-- pagination end -->
