<div class="col-xs-4 col-md-4 side-panel">
	<div class="height-full" ng-show="true">

		<!-- menu begin -->
		<ul class="setting-sidemenu">
			<li class="submenu-title">driver</li>
			<li><a href="#/hr/overview">Overview</a></li>
			<li><a href="#/hr/overspeed">Over Speed</a></li>
			<li><a href="#/hr/drivehabit">Driving Habit</a></li>
			<li><a href="#/hr/drivedistance">Driving Distance By Driver</a></li>
			<li><a href="#/hr/drivetime" class="active">Working Time By Driver</a></li>
			<button id="hrDrivetime" type="button" class="btn btn-default panel-refresh pull-right"></button>
		</ul>
		<!-- menu end -->

		<form name="hrDrivetimeform" class="form-horizontal">
			<!-- group begin -->
			<option-list groups option-name ='group' option-model ="searchParams.group"></option-list>
			<!-- group End -->

			<!-- period begin -->
			<period-picker from-date= "searchParams.from_date" to-date= "searchParams.to_date" search= "search"> 
			</period-picker>
			<!-- period end -->

			<!-- Peroid Type begin -->
			<div class="form-group">
				<nav class="align-center">
					<period-set week from-date= "searchParams.from_date" to-date= "searchParams.to_date" search="search"></period-set>
					<period-set month from-date= "searchParams.from_date" to-date= "searchParams.to_date" search="search"></period-set>
					<period-set year from-date= "searchParams.from_date" to-date= "searchParams.to_date" search="search"></period-set>
				</nav>
			</div>
			<!-- Peroid Type begin -->

		</form>

		<!-- table begin -->
		<div id="hr-drivetime-table-container" class="search-table form-control">
			<table class="table table-striped table-hover" st-pagination-scroll st-table="items" st-pipe="search">
				<thead>
					<tr>
						<th>#</th>
						<th id="driver_code" st-sort="driver_code" ng-click="setsort('driver_code')" >Driver ID</th>
						<th id="driver_name" st-sort="driver_name" ng-click="setsort('driver_name')">Name</th>
						<th id="drive_time" st-sort="drive_time" ng-click="setsort('drive_time')">Working Time (min.)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items" ng-class="{active : item.active}">
						<td>{{item.no}}</td>
						<td>{{item.driver_code}}</td>
						<td>{{item.driver_name}}</td>
						<td>{{item.drive_time}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- table end -->

	</div>
</div>