<div class="col-xs-4 col-md-4 side-panel">
	<div class="height-full" ng-show="true">

		<!-- menu begin -->
		<div class="submenu-title">driver</div>
		<ul class="setting-sidemenu list5-scroll">
			<li><a href="#/hr/overview">Overview</a></li>
			<li><a href="#/hr/overspeed" class="active">Over Speed</a></li>
			<li><a href="#/hr/drivehabit">Driving Habit</a></li>
			<li><a href="#/hr/drivedistance">Driving Distance By Driver</a></li>
			<li><a href="#/hr/drivetime">Working Time By Driver</a></li>
			<button id="btnHrOverspeed" type="button" class="btn btn-default panel-refresh pull-right"></button>
		</ul>
		<!-- menu end -->

		<form name="hrOverspeedForm" class="form-horizontal">

			<option-list groups option-name ='Group' option-model ="searchParams.group"></option-list>

			<period-picker from-date= "searchParams.from_date" to-date= "searchParams.to_date" search= "search"></period-picker>

			<div class="form-group">
				<nav class="align-center">
					<period-set week from-date= "searchParams.from_date" to-date= "searchParams.to_date" search="search"></period-set>
					<period-set month from-date= "searchParams.from_date" to-date= "searchParams.to_date" search="search"></period-set>
					<period-set year from-date= "searchParams.from_date" to-date= "searchParams.to_date" search="search"></period-set>
				</nav>
			</div>

		</form>

		<!-- table begin -->
		<div id="hr-overspeed-table-container" class="search-table form-control">
			<table class="table table-striped table-hover" st-pagination-scroll st-table="items" st-pipe="search">
				<thead>
					<tr>
						<th>#</th>
						<th id="driver_code" st-sort="driver_code" ng-click="setsort('driver_code')" >Driver ID</th>
						<th id="driver_name" st-sort="driver_name" ng-click="setsort('driver_name')">Name</th>
						<th id="speed_over" st-sort="speed_over" ng-click="setsort('speed_over')">Over Speed (Duration)</th>
						<th id="point" st-sort="point" ng-click="setsort('point')">Over Speed (Total)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items" ng-class="{active : item.active}"> <!-- ng-click="showItemChart(item)"  -->
						<td>{{item.no}}</td>
						<td>{{item.driver_code}}</td>
						<td>{{item.driver_name}}</td>
						<td>{{item.overspeed}}</td>
						<td>{{item.point}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- table end -->

	</div>
</div>