<div class="col-xs-4 col-md-4 side-panel">
	<div class="height-full" ng-show="true">
		<!-- menu begin -->
		<ul class="setting-sidemenu">
			<li><a href="#/hr/overview" class="menu-icon overview active">Overview</a></li>
			<li><a href="#/hr/overspeed" class="menu-icon chart">Over Speed</a></li>
			<li><a href="#/hr/drivehabit" class="menu-icon chart">Driving Habit</a></li>
			<button id="hrSearchOverview" type="button" class="btn btn-default panel-refresh pull-right"></button>
		</ul>
		<!-- menu end -->
	</div>
</div>