<!-- period begin -->
<div class="form-group">
	<label for="inputPassword" class="col-xs-12 col-sm-3 col-md-2 control-label">period</label>
	<div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
		<div id="fromdatepicker" class="input-append date from">
			<input class="form-control" name="from_date" data-format="yyyy-MM-dd" type="text" placeholder="from" ng-model="fromDate">
			</input>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
	</div>

	<span class="col-xs-1 col-sm-1 col-md-1 padding-clear align-center margin-t7">~</span>
	<div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
		<div id="todatepicker" class="input-append date to">
			<input class="form-control" name="to_date" data-format="yyyy-MM-dd" type="text" placeholder="to" ng-model="toDate"></input>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
	</div>
</div>
<!-- period end -->
