    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-show="showToggleButton" type="button" ng-class="sidebarSwitch ? 'side-toggle show' : 'side-toggle'" ng-click="toggleSidebar()">
      </button>
			
			<a href="#" id="btn-legend" class="btn" tabindex="0" data-toggle="popover" data-trigger="focus" data-popover-content="#pop-legend" data-placement="bottom" ng-show="showToggleButton">legend</a>
		
			<div class="popover fade" id="pop-legend">
				<div class="popover-body">
			    <ul>
						<li><img src="/assets/fleet_off.png"> Off</li>
						<li><img src="/assets/fleet_idle.png"> Idle</li>
						<li><img src="/assets/fleet_slow.png"> Slow</li>
						<li><img src="/assets/fleet_normal.png"> Normal</li>
						<li><img src="/assets/fleet_high.png"> High</li>
						<li><img src="/assets/fleet_over.png"> Over Speed</li>
						<li class="border"><img src="/assets/event_g_sensor.png"> Impact</li>
						<li><img src="/assets/event_overspeed.png"> Over speed</li>
						<li><img src="/assets/event_geofence_in.png"> Geofence In</li>
						<li><img src="/assets/event_geofence_out.png"> Geofence Out</li>
						<li><img src="/assets/event_emergency.png"> Emergency</li>
						<li class="border"><img src="/assets/batchstart.png"> Batch Start</li>
						<li><img src="/assets/batchend.png"> Batch End</li>
						<li class="border"><img src="/assets/tripstart.png"> Trip Start</li>
						<li><img src="/assets/tripend.png"> Trip End</li>
					</ul>
				</div>
			</div>
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
			<a class="navbar-brand" href="#/"><img src="/assets/brand.png"/></a>
    </div>
		
		<script>
			$(function(){
			    $("[data-toggle=popover]").popover({
			        html : true,
			        content: function() {
			          var content = $(this).attr("data-popover-content");
			          return $(content).children(".popover-body").html();
			        }
			    });
			});
		</script>