	<li class="dropdown">
		<a href="" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span>
		</a>
		
		<ul class="dropdown-menu">
			<li><a href="#" ng-click="changeLocale('en-US')"><translate name-value="english" type="menu" display="English"></translate></a></li>
			<li><a href="#" ng-click="changeLocale('ko-KR')"><translate name-value="spanish" type="menu" display="Spanish"></translate></a></li>
			<li><a href="#" ng-click="changeLocale('zh-CN')"><translate name-value="french" type="menu" display="French"></translate></a></li>
			<li role="separator" class="divider"></li>
			<li><a href="/users/sign_out" rel="nofollow" data-method="delete"><translate name-value="logOut" type="menu" display="Log Out"></a></li>
		</ul>
	</li>