    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-show="showToggleButton" type="button" ng-class="sidebarSwitch ? 'side-toggle show' : 'side-toggle'" ng-click="toggleSidebar()">
      </button>
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <!--translate class="sr-only" name-value ="toggleNavigation" category="label" display="Toggle navigation"></translate-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
			<a class="navbar-brand" href="#/"><img src="/assets/brand.png"/></a>
    </div>