	<li class="dropdown">
		<a href="" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span>
		</a>
		
		<ul class="dropdown-menu">
			<li>
				<a href="#" ng-click="changeLocale('en-US')">
					<translate name-value="English" type="menu"/>
				</a>
			</li>
			<li>
				<a href="#" ng-click="changeLocale('es-ES')">
					<translate name-value="Spanish" type="menu"/>
				</a>
			</li>
			<li>
				<a href="#" ng-click="changeLocale('fr-FR')">
					<translate name-value="French" type="menu"/>
				</a>
			</li>
			<li role="separator" class="divider"></li>
			<li>
				<a href="#" ng-click="showProfile()">
					<translate name-value="Profile" type="menu"/>
				</a>
			</li>			
			<li>
				<a href="/users/sign_out" rel="nofollow" data-method="delete">
					<translate name-value="Log Out" type="menu" display="Log Out">
				</a>
			</li>
		</ul>
	</li>