<div class="setting-content">

	<!-- driver photo & info begin -->
	<div class="col-xs-12 col-sm-4 col-md-4 align-center">
		<div class="photo-driver-container">
			<img ng-src="{{item.img}}" class="photo-driver" ng-show="item.img && item.img != ''"/>
		</div>
		<input type="file" ngf-select ngf-multiple="false" ng-model="file" ng-show="item.id" class="margin-t5"/>
		<!--button type="file" class="btn btn-default btn-sm margin-t7">File Upload</button-->
	</div>

	<form name="driverSettingForm" class="form-horizontal">
		<div class="col-xs-12 col-sm-8 col-md-8">

			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">ID <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-5 col-md-5">
			 	 <input type="text" name="ID" class="form-control" ng-model="item.code" required ng-maxlength="32"/>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">Name <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-5 col-md-5">
			 	 <input type="text" name="Name"
			 	  class="form-control" ng-model="item.name" required ng-maxlength="64"/>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">E-mail</label>
			 	<div class="col-xs-11 col-sm-10 col-md-10">
			 	 <input name="email" type="email" class="form-control" ng-model="item.email" ng-maxlength="64"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">Division</label>
				<div class="col-xs-11 col-sm-10 col-md-10">
					<input type="text" name="Division" class="form-control" ng-model="item.division" ng-maxlength="32"></input>
				</div>
			</div>

		</div>
		<!-- driver photo & info end -->
	
		<!-- driver infos begin -->
		<div class="line-infos bg-white col-xs-12">

			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label">Social-ID</label>
		 		<div class="col-xs-12 col-sm-5 col-md-5">
		 	 		<input type="text" name="Social ID" class="form-control" ng-model="item.social_id" ng-maxlength="32"></input>
		 		</div>
			</div>

			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label">Title</label>
		 		<div class="col-xs-12 col-sm-5 col-md-5">
		 	 		<input type="text" name="Title" class="form-control" ng-model="item.title" ng-maxlength="32"></input>
		 		</div>
			</div>
				
			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label">Mobile</label>
		 		<div class="col-xs-12 col-sm-5 col-md-5">
		 	 		<input type="text" name="Mobile" class="form-control" ng-model="item.mobile_no" ng-maxlength="32"></input>
		 		</div>
			</div>

			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label">Address</label>
		 		<div class="col-xs-12 col-sm-9 col-md-9">
		 	 		<input type="text" name="Address" class="form-control" ng-model="item.address" ng-maxlength="255"></input>
		 		</div>
			</div>
		
			<!-- buttons begin -->
			<button type="button" class="btn btn-default margin-t7 pull-left" ng-click="new()">New</button>
			<button type="button" class="btn btn-default margin-t7 pull-right" ng-click="delete()" ng-disabled="!isDeletable()">Delete</button>
			<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()" ng-disabled="!isFormValid()">Save</button>
			<!-- buttons end -->
		
		</div>
	</form>
	<!-- driver infos end -->
	
</div>