<div class="setting-content">
	<!-- driver photo & info begin -->
	<div class="col-xs-12 col-sm-4 col-md-4 align-center">
		<div class="photo-driver-container"><img ng-src="{{item.img}}" class="photo-driver"/></div>
		<input type="file" ngf-select ngf-multiple="false" ng-model="file" ng-show="item.id" class="margin-t5"/><br/>
		<!-- <button type="file" class="btn btn-default btn-sm margin-t7">File Upload</button> -->
	</div>

	<div class="col-xs-12 col-sm-8 col-md-8">
		<form class="form-horizontal">
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">ID <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-5 col-md-5">
			 	 <input type="text" class="form-control" ng-model="item.code"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">Name <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-5 col-md-5">
			 	 <input type="text" class="form-control" ng-model="item.name"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">E-mail</label>
			 	<div class="col-xs-11 col-sm-10 col-md-10">
			 	 <input type="text" class="form-control" ng-model="item.email"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label">Division</label>
				<div class="col-xs-11 col-sm-10 col-md-10">
					<input type="text" class="form-control" ng-model="item.division"></input>
					<!--select class="form-control">
						<option>select Division</option>
						<option>Division 1</option>
					</select-->
				</div>
			</div>
		</form>
	</div>
	<!-- driver photo & info end -->
	
	<!-- driver infos begin -->
	<div class="line-infos bg-white col-xs-12">
		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Social-ID</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.social_id"></input>
		 	</div>
		</div>

		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Title</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.title"></input>
		 	</div>
		</div>
				
		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Mobile</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.mobile_no"></input>
		 	</div>
		</div>

		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Address</label>
		 	<div class="col-xs-12 col-sm-9 col-md-9">
		 	 <input type="text" class="form-control" ng-model="item.address"></input>
		 	</div>
		</div>
		
		<!-- buttons begin -->
		<button type="button" class="btn btn-default margin-t7 pull-left" ng-click="new()">New</button>
		<button type="button" class="btn btn-default margin-t7 pull-right" ng-click="delete()">Delete</button>
		<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()">Save</button>
		<!-- buttons end -->
		
	</div>
	<!-- driver infos end -->
	
</div>