<div class="setting-content">

	<!-- fleet photo & info begin -->
	<div class="col-xs-12 col-sm-4 col-md-4 align-center">
		<div class="photo-fleet-container">
			<img ng-src="{{item.image}}" class="photo-driver" ng-show="item.image && item.image != ''"/>
		</div>
		<button type="button" class="btn btn-default btn-sm margin-t7 margin-r5 pull-left photo-fleet" ng-click="changeImage('car')"></button>
		<button type="button" class="btn btn-default btn-sm margin-t7 pull-left photo-driver" ng-click="changeImage('driver')"></button>
		<input type="file" ngf-select ngf-multiple="false" ng-model="file" ng-show="item.id"/>
	</div>

	<form name="fleetSettingForm" class="form-horizontal">
		<div class="col-xs-12 col-sm-8 col-md-8">

			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="ID " category="label"></translate><strong style="color:red">*</strong>
			 	</label>
			 	<div class="col-xs-11 col-sm-5 col-md-5">
			 		<input type="text" name="ID" class="form-control" ng-model="item.name" required ng-maxlength="32"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="ID " category="label"></translate>Driver <strong style="color:red">*</strong>
			 	</label>
				<div class="col-xs-11 col-sm-5 col-md-5">
					<select name="Driver" class="form-control" ng-model="item.driver_id" 
						ng-init="selected=''" ng-options="driver.id.toString() as driver.name for driver in drivers" required>
						<option></option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Car No. " category="label"></translate><strong style="color:red">*</strong>
			 	</label>
			 	<div class="col-xs-11 col-sm-5 col-md-5">
			 		<input name="Car No" type="text" class="form-control" ng-model="item.car_no" required ng-maxlength="32"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Group " category="label"></translate><strong style="color:red">*</strong>
			 	</label>
				<div class="col-xs-11 col-sm-5 col-md-5">
					<select name="Group" class="form-control" ng-model="item.fleet_group_id" 
						ng-init="selected=''" ng-options="group.id as group.name for group in groups" required ng-maxlength="32">
						<option></option>
					</select>
				</div>
			</div>
		
		</div>
		<!-- fleet photo & info end -->
	
		<!-- fleet infos begin -->
		<div class="line-infos bg-white col-xs-12">
			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Car Model" category="label"></translate></label>
		 		<div class="col-xs-12 col-sm-5 col-md-5">
		 	 		<input name="Car Model" type="text" class="form-control" ng-model="item.car_model" ng-maxlength="32"></input>
		 		</div>
			</div>

			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Device Name" category="label"></translate></label>
		 		<div class="col-xs-12 col-sm-5 col-md-5">
		 	 		<input name="Device Name" type="text" class="form-control" ng-model="item.device_name" ng-maxlength="32"></input>
		 		</div>
			</div>

			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Device Model" category="label"></translate></label>
		 		<div class="col-xs-12 col-sm-5 col-md-5">
		 	 		<input name="Device Model" type="text" class="form-control" ng-model="item.device_model" ng-maxlength="32"></input>
		 		</div>
			</div>

			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Purchasing Date" category="label"></translate></label>
		    	<div class="col-xs-12 col-sm-5 col-md-5">
						<date-picker date-model ="item.purchase_date"></date-picker>
		    	</div>
			</div>
				
			<div class="form-group">
		 		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><translate name-value ="Register Date" category="label"></translate></label>

		    	<div class="col-xs-12 col-sm-5 col-md-5">
		    		<date-picker date-model ="item.reg_date"></date-picker>
		    	</div>
			</div>
		
		
			<!-- buttons begin -->
			<button type="button" class="btn btn-default margin-t7 pull-left" ng-click="new()"><translate name-value ="New" category="button"></translate></button>
			<button type="button" class="btn btn-default margin-t7 pull-right" ng-click="delete()" ng-disabled="!isDeletable()"><translate name-value ="Delete" category="button"></translate></button>
			<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()" ng-disabled="!isFormValid()"><translate name-value ="Save" category="button"></translate></button>
			<!-- buttons end -->
		
		</div>
	</form>
	<!-- fleet infos end -->
	
</div>