<div class="setting-content">
	<!-- fleet photo & info begin -->
	<div class="col-xs-12 col-sm-5 col-md-5 align-center">
		<img src="" class="photo-driver"/>
		<button type="button" class="btn btn-default btn-sm margin-t7 margin-r5 pull-left photo-fleet"></button>
		<button type="button" class="btn btn-default btn-sm margin-t7 pull-left photo-driver"></button>
		<button type="button" class="btn btn-default btn-sm margin-t7 pull-right">File Upload</button>
	</div>

	<div class="col-xs-12 col-sm-7 col-md-7">
		<form class="form-horizontal">
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">ID <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-9 col-md-9">
			 	 <input type="text" class="form-control" ng-model="item.name"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Driver <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-9 col-md-9">
			 	 <input type="text" class="form-control" ng-model="item.driver"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Car No. <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-9 col-md-9">
			 	 <input type="text" class="form-control" ng-model="item.car_no"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Group <strong style="color:red">*</strong></label>
			 	<div class="col-xs-11 col-sm-9 col-md-9">
			 	 <input type="text" class="form-control" ng-model="item.group"></input>
			 	</div>
			</div>
		</form>
	</div>
	<!-- fleet photo & info end -->
	
	<!-- fleet infos begin -->
	<div class="line-infos bg-white col-xs-12">
		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Car Model</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.car_model"></input>
		 	</div>
		</div>

		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Device Name</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.device_name"></input>
		 	</div>
		</div>

		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Device Model</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.device_model"></input>
		 	</div>
		</div>

		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Purchasing Date</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.purchase_date"></input>
		 	</div>
		</div>
				
		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Register Date</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.reg_date"></input>
		 	</div>
		</div>
		
		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Velocity</label>
		 	<div class="col-xs-12 col-sm-5 col-md-5">
		 	 <input type="text" class="form-control" ng-model="item.velocity"></input>
		 	</div>
		</div>

		<div class="form-group">
		 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Location</label>
		 	<div class="col-xs-12 col-sm-9 col-md-9">
		 	 <input type="text" class="form-control"></input>
		 	</div>
		</div>
		
		<!-- buttons begin -->
		<button type="button" class="btn btn-default margin-t7 pull-left" ng-click="new()">New</button>
		<button type="button" class="btn btn-default margin-t7 pull-right" ng-click="delete()">Delete</button>
		<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()">Save</button>
		<!-- buttons end -->
		
	</div>
	<!-- fleet infos end -->
	
</div>