<div class="setting-content">
	<div class="col-xs-12 col-sm-7 col-md-7">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-3 control-label">Name</label>
				<div class="col-xs-11 col-sm-9 col-md-9">
					<input type="text" class="form-control" ng-model="item.name"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-3 control-label">Description</label>
				<div class="col-xs-11 col-sm-9 col-md-9">
					<textarea class="form-control" rows="3" ng-model="item.description"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="line-infos bg-white col-xs-12">
		<div id="setting-group-relation-table-container" class="search-table">
			<table class="table table-striped table-hover" st-pagination-scroll st-table="items" st-pipe="searchGeofenceGroups">
				<thead>
					<tr>
						<th>#</th>
						<th>Geofence Name</th>
						<th>Geofence Description</th>
						<th>Event</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="geofenceGroup in items">
					<!-- contentEditable={{geofenceGroup.isEditable}} -->
						<td>{{geofenceGroup.no}}</td>
						<td ng-click="geofenceHide=false">
						    <span ng-hide="!geofenceHide">{{geofenceGroup.geofence.name}}</span>					 
							<select ng-model="geofenceGroup.geofence_id" ng-options="geofence.id as geofence.name for  geofence in geofences" ng-hide="geofenceHide">
   								<option value=""></option>
							</select>
						</td>
						<td>{{geofenceGroup.geofence.description}}</td>
						<td ng-click="alarmTypeHide=false">
							<span ng-hide="!alarmTypeHide">{{geofenceGroup.alarm_type}}</span>
							<select ng-model="geofenceGroup.alarm_type" ng-hide="alarmTypeHide">
   								<option value=""></option>
   								<option value="IN" >IN</option>
								<option value="OUT">OUT</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-context">
			<button type="button" class="btn pull-right icon-minus" ng-click="rmGeofence()"></button>
			<button type="button" class="btn pull-right icon-plus" ng-click="addGeofence()"></button>
		</div>
		
		<!-- buttons begin -->
		<button type="button" class="btn btn-default margin-t7 pull-left" ng-click="new()">New</button>
		<button type="button" class="btn btn-default margin-t7 pull-right" ng-click="delete()">Delete</button>
		<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()">Save</button>
		<!-- buttons end -->
	</div>
	<!-- group infos end -->
	
</div>