<div class="setting-content">
	<form class="form-horizontal">
		<!-- interval fieldset begin -->
		<fieldset>
			<legend>Monitor</legend>
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Batch Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.batch_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Hour</span>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Trip Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.trip_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Hour</span>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">GPS Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.gps_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Minutes</span>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Stillcut Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.stillcut_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Minutes</span>
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-6" >
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Map Refresh</label>
				<div class="radio pull-left">
					<label class="pull-left"><input type="radio" name="MapRefresh" id="optionsRadios1" value="Y" ng-model="settings.map_refresh" checked> Yes</label>
						<div class="pull-left" ng-show="settings.map_refresh=='Y'">
							<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.map_refresh_interval'></input>
							<span class="pull-left padding-rl7 padding-t4">Seconds</span>
						</div>
				</div>
				<div class="radio pull-left">
					<label class="pull-left">
						<input type="radio" name="MapRefresh" id="optionsRadios2" value="N" ng-model="settings.map_refresh"> No</label>
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Movie Base URL</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="text" min="1" class="form-control max-w200 pull-left" ng-model='settings.content_base_url'></input>
				</div>
			</div>
			
		</fieldset>
		<!-- interval fieldset end -->
		
		<!-- distance & speed unit begin -->
		<fieldset>
			<legend>Distance & Speed Unit</legend>
			<div class="radio col-xs-6 col-sm-4 col-md-4">
				<label>
					<input type="radio" name="dns" id="optionsRadios1" value="miles" ng-model="settings.distance_unit" checked>
					Miles
				</label>
			</div>
			<div class="radio col-xs-6 col-sm-4 col-md-4">
				<label>
					<input type="radio" name="dns" id="optionsRadios2" value="km" ng-model="settings.distance_unit">
					Kilometers
				</label>
			</div>
		</fieldset>
		<!-- distance & speed unit end -->
		
		<!-- date time format begin -->
		<fieldset>
			<legend>Data & Time format</legend>

			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">Date</label>
			<code-list dateformat option-model ="settings.format_date"></code-list>

			<div class="col-xs-12"></div>
			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">Time</label>
			<code-list timeformat option-model ="settings.format_time"></code-list>

			<div class="col-xs-12"></div>
			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">Timezone</label>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label><input type="radio" id="optionsTimezone1" value="Local" ng-model="settings.timezone" checked>Local</label>
			</div>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label><input type="radio" id="optionsTimezone2" value="UTC" ng-model="settings.timezone">UTC</label>
			</div>

		</fieldset>
		<!-- date time format end -->
		
		<!-- speed range begin -->
		<fieldset class="form-inline col-xs-12 col-sm-5 col-md-5">
			<legend>Speed Range</legend>
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Slow</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_slow'></input>

			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Normal</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_normal'></input>
			
			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Fast</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_high'></input>
			
			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Over</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_over'></input>

			<div class="col-xs-12 float-clear margin-b5"></div>
			
		</fieldset>
		<!-- speed range end -->
		
		<!-- alarm begin -->
		<fieldset class="col-xs-12 col-sm-6 col-md-6 pull-right">
			<legend>Alarm</legend>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.alarm_impact' ng-true-value="'Y'" ng-false-value="'N'">Impact</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.alarm_emergency' ng-true-value="'Y'" ng-false-value="'N'">Emergency Button</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.alarm_g_sensor' ng-true-value="'Y'" ng-false-value="'N'">G sensor</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.alarm_overspeed' ng-true-value="'Y'" ng-false-value="'N'">OverSpeed</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.alarm_geofence' ng-true-value="'Y'" ng-false-value="'N'">Geofence</label>
			</div>
		</fieldset>
		<!-- alarm range end -->
		
		<!-- buttons begin -->
		<button type="button" class="btn btn-default pull-right btn-success margin-r15 margin-b5 float-clear" ng-click="save()">Save</button>
		<!-- buttons end -->
	</form>
</div>