<div class="setting-content">
	<form class="form-horizontal">

		<!-- Monitor fieldset begin -->
		<fieldset>
			<legend>Monitor</legend>

			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Batch Interval" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.batch_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">
						<translate name-value ="Hour" category="label"></translate>
					</span>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Trip Interval" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.trip_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">
						<translate name-value ="Hour" category="label"></translate>
					</span>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="GPS Interval" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.gps_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">
						<translate name-value ="Minutes" category="label"></translate>
					</span>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Stillcut Interval" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.stillcut_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">
						<translate name-value ="Minutes" category="label"></translate>
					</span>
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Basic Latitude" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" class="form-control max-w100 pull-left" ng-model='settings.lat'></input>
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Basic Longitude" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" class="form-control max-w100 pull-left" ng-model='settings.lng'></input>
				</div>
			</div>			

			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Movie Base URL" category="label"></translate>
				</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="text" min="1" class="form-control max-w200" ng-model='settings.content_base_url'></input>
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-6" >
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Language Setup Mode" category="label"></translate>
				</label>
				<div class="radio pull-left">
					<label class="pull-left">
						<input type="radio" value="Y" ng-model="settings.language_setup_mode">Yes</label>
				</div>
				<div class="radio pull-left">
					<label class="pull-left">
						<input type="radio" value="N" ng-model="settings.language_setup_mode" checked>No</label>
				</div>				
			</div>

			<!--div class="form-group col-xs-12 col-sm-6" >
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">
					<translate name-value ="Map Refresh" category="label"/>
				</label>
				<div class="radio pull-left">
					<label class="pull-left">
						<input type="radio" name="MapRefresh" id="optionsRadios1" value="Y" ng-model="settings.map_refresh" checked/> Yes
					</label>
					<div class="pull-left" ng-show="settings.map_refresh == 'Y'">
						<input type="number" min="1" class="form-control max-w60 pull-left" ng-model='settings.map_refresh_interval'/>
						<span class="pull-left padding-rl7 padding-t4">
							<translate name-value ="Min." category="label"/>
						</span>
					</div>
				</div>
				<div class="radio pull-left">
					<label class="pull-left">
						<input type="radio" name="MapRefresh" id="optionsRadios2" value="N" ng-model="settings.map_refresh"/>No
					</label>
				</div>
			</div-->			

		</fieldset>
		<!-- Monitor fieldset end -->
		
		<!-- distance & speed unit begin -->
		<fieldset>
			<legend>
				<translate name-value ="Distance & Speed Unit" category="label"></translate>
			</legend>
			<div class="radio col-xs-6 col-sm-4 col-md-4">
				<label>
					<input type="radio" name="dns" id="optionsRadios1" value="miles" ng-model="settings.distance_unit" checked>
					<translate name-value ="Miles" category="label"></translate>
				</label>
			</div>
			<div class="radio col-xs-6 col-sm-4 col-md-4">
				<label>
					<input type="radio" name="dns" id="optionsRadios2" value="km" ng-model="settings.distance_unit">
					<translate name-value ="Kilometers" category="label"></translate>
				</label>
			</div>
		</fieldset>
		<!-- distance & speed unit end -->
		
		<!-- date time format begin -->
		<fieldset>
			<legend>
				<translate name-value ="Data & Time format" category="label"></translate>
			</legend>

			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">
				<translate name-value ="Date" category="label"></translate>
			</label>
			<code-list dateformat option-model ="settings.format_date"></code-list>

			<div class="col-xs-12"></div>
			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">
				<translate name-value ="Time" category="label"></translate>
			</label>
			<code-list timeformat option-model ="settings.format_time"></code-list>

			<div class="col-xs-12"></div>
			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">
				<translate name-value ="Timezone" category="label"></translate>
			</label>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label>
					<input type="radio" id="optionsTimezone1" value="Local" ng-model="settings.timezone" checked><translate name-value ="Local" category="label"></translate>
				</label>
			</div>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label>
					<input type="radio" id="optionsTimezone2" value="UTC" ng-model="settings.timezone"><translate name-value ="UTC" category="label"></translate>
				</label>
			</div>
		</fieldset>
		<!-- date time format end -->
		
		<!-- speed range begin -->
		<fieldset class="form-inline col-xs-12 col-sm-5 col-md-5">
			<legend>
				<translate name-value ="Speed Range" category="label"></translate>
			</legend>

			<label class="control-label col-xs-3 padding-clear align-left padding-t4">
				<translate name-value ="Slow" category="label"></translate>
			</label>
			
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_slow'></input>

			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">
				<translate name-value ="Normal" category="label"></translate>
			</label>

			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_normal'></input>
			
			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">
				<translate name-value ="Fast" category="label"></translate>
			</label>

			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_high'></input>
			
			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">
				<translate name-value ="Over" category="label"></translate>
			</label>

			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_over'></input>

			<div class="col-xs-12 float-clear margin-b5"></div>
		</fieldset>
		<!-- speed range end -->
		
		<!-- alarm begin -->
		<fieldset class="col-xs-12 col-sm-6 col-md-6 pull-right">
			<legend>Alarm</legend>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model='settings.alarm_impact' ng-true-value="'Y'" ng-false-value="'N'"><translate name-value ="Impact" category="label"></translate>
				</label>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model='settings.alarm_emergency' ng-true-value="'Y'" ng-false-value="'N'"><translate name-value ="Emergency Button" category="label"></translate>
				</label>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model='settings.alarm_g_sensor' ng-true-value="'Y'" ng-false-value="'N'"><translate name-value ="G sensor" category="label"></translate>
				</label>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model='settings.alarm_overspeed' ng-true-value="'Y'" ng-false-value="'N'"><translate name-value ="Over Speed" category="label"></translate>
				</label>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model='settings.alarm_geofence' ng-true-value="'Y'" ng-false-value="'N'"><translate name-value ="Geofence" category="label"></translate>
				</label>
			</div>
		</fieldset>
		<!-- alarm range end -->
		
		<!-- buttons begin -->
		<button type="button" class="btn btn-default pull-right btn-success margin-r15 margin-b5 float-clear" ng-click="save()">
			<translate name-value ="Save" category="button"></translate>
		</button>
		<!-- buttons end -->
	</form>
</div>