<div class="setting-content">
	<form class="form-horizontal">
		<!-- interval fieldset begin -->
		<fieldset>
			<legend>Interval</legend>
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Batch Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.batch_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Hour</span>
<!-- 						<select class="form-control">
								<option>select ..</option>
							</select> -->
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Trip Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.trip_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Hour</span>
<!-- 					<select class="form-control">
						<option>select ..</option>
					</select> -->
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">GPS Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.gps_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Minutes</span>
<!-- 					<select class="form-control">
						<option>select ..</option>
					</select> -->
				</div>
			</div>
			
			<div class="form-group col-xs-12 col-sm-6">
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Stillcut Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.stillcut_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Minutes</span>
<!-- 					<select class="form-control">
						<option>select ..</option>
					</select> -->
				</div>
			</div>

			<div class="form-group col-xs-12 col-sm-6" >
				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Map Refresh</label>
				<div class="radio col-xs-2 col-sm-2 col-md-2">
					<label><input type="radio" name="MapRefresh" id="optionsRadios1" value="Y" ng-model="settings.map_refresh" checked> Yes</label>
				</div>
				<div class="col-xs-3 col-sm-4 col-md-4" ng-show="settings.map_refresh=='Y'">
					<input type="number" min="1" class="form-control max-w100 pull-left" ng-model='settings.map_refresh_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Seconds</span>
<!-- 					<select class="form-control">
						<option>select ..</option>
					</select> -->
				</div>
				<div class="radio col-xs-2 col-sm-2 col-md-2">
					<label><input type="radio" name="MapRefresh" id="optionsRadios2" value="N" ng-model="settings.map_refresh"> No</label>
				</div><!-- 

				<label class="control-label col-xs-5 col-sm-4 col-md-4 padding-clear">Map Refresh Interval</label>
				<div class="col-xs-7 col-sm-8 col-md-8">
					<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.map_refresh_interval'></input>
					<span class="pull-left padding-rl7 padding-t4">Seconds</span> -->
<!-- 					<select class="form-control">
						<option>select ..</option>
					</select> -->
			</div>
			
		</fieldset>
		<!-- interval fieldset end -->
		
		<!-- distance & speed unit begin -->
		<fieldset>
			<legend>Distance & Speed Unit</legend>
			<div class="radio col-xs-6 col-sm-4 col-md-4">
				<label>
					<input type="radio" name="dns" id="optionsRadios1" value="miles" ng-model="settings.distance_unit" checked>
					Miles
				</label>
			</div>
			<div class="radio col-xs-6 col-sm-4 col-md-4">
				<label>
					<input type="radio" name="dns" id="optionsRadios2" value="km" ng-model="settings.distance_unit">
					Kilometers
				</label>
			</div>
		</fieldset>
		<!-- distance & speed unit end -->
		
		<!-- date time format begin -->
		<fieldset>
			<legend>Data & Time format</legend>
			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">Date</label>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label>
					<input type="radio" name="dnt-d" id="optionsRadios1" value="MM/DD/YYYY" ng-model="settings.date_format" checked>
					MM/DD/YYYY
				</label>
			</div>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label>
					<input type="radio" name="dnt-d" id="optionsRadios2" ng-model="settings.date_format" value="DD/MM/YYYY">
					DD/MM/YYYY
				</label>
			</div>
			<div class="col-xs-12"></div>
			<label class="control-label col-xs-2 col-sm-1 col-md-1 padding-clear align-left">Time</label>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label>
					<input type="radio" name="dnt-t" id="optionsRadios1" value="AM/PM" ng-model="settings.time_format" checked>
					AM/PM
				</label>
			</div>
			<div class="radio col-xs-5 col-sm-3 col-md-3">
				<label>
					<input type="radio" name="dnt-t" id="optionsRadios2" value="24HR" ng-model="settings.time_format" >
					24HR
				</label>
			</div>
		</fieldset>
		<!-- date time format end -->
		
		<!-- speed range begin -->
		<fieldset class="form-inline col-xs-12 col-sm-5 col-md-5">
			<legend>Speed Range</legend>
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Slow</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_slow'></input>

			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Normal</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_normal'></input>
			
			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Fast</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_high'></input>
			
			<div class="col-xs-12 float-clear margin-b7"></div>
			
			<label class="control-label col-xs-3 padding-clear align-left padding-t4">Over</label>
			<input type="number" min="1" class="form-control max-w200 pull-left" ng-model='settings.speed_over'></input>

			<div class="col-xs-12 float-clear margin-b5"></div>
			
		</fieldset>
		<!-- speed range end -->
		
		<!-- alarm begin -->
		<fieldset class="col-xs-12 col-sm-6 col-md-6 pull-right">
			<legend>Alarm</legend>
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.emergency_button'> Emergency Button</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.ext_emergency_button'> Externam Emergency Button</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.g_sensor'> G sensor</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.over_speed'> Over Speed</label>
			</div>
			
			<div class="checkbox">
				<label><input type="checkbox" ng-model='settings.geofence_activation'> Geofence Activation</label>
			</div>
		</fieldset>
		<!-- alarm range end -->
		
		<!-- buttons begin -->
		<button type="button" class="btn btn-default pull-right btn-success margin-r15 margin-b5 float-clear" ng-click="save()">Save</button>
		<!-- buttons end -->
	</form>
</div>