<div class="line-infos bg-white col-xs-12">

	<div>* User List</div>

	<div id="setting-user-table-container" class="search-table">
		<table class="table table-striped table-hover" st-table="users">
			<thead>
				<tr>
					<th><input type="checkbox" ng-click='checkAll()'></th>
					<th>#</th>
					<!--th><translate name-value ="ID" category="label"/></th-->
					<th><translate name-value ="Name" category="label"/></th>
					<th><translate name-value ="E-mail" category="label"/></th>
					<th><translate name-value ="Admin" category="label"/></th>
					<th><translate name-value ="Delete" category="label"/></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users" ng-show="user.isShow">
					<td><input type="checkbox" ng-model="user.deleteFlag"></td>
					<td>{{user.no}}</td>
					<!--td>{{user.login}}</td-->
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.admin_flag ? 'Yes' : 'No'}}</td>
					<td>
						<button type="button" class="btn btn-warning" ng-click="deleteUser(user)">
							<translate name-value ="Delete" category="button"/>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
	<button type="button" class="btn btn-warning pull-right margin-t5" ng-click="newUser()">
		<translate name-value ="Add User" category="button"/>
	</button>
	
	<!--button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()" ng-disabled="!isFormValid()">
		<translate name-value ="Save" category="button"/>
	</button-->

</div>