<div class="col-xs-4 col-md-4 side-panel" ng-controller='HrCtrl'>
	<div class="height-full" ng-show="true">
		<ul class="setting-sidemenu">
			<li>
				<a href="#/hr/overview" class="menu-icon driver">
					<translate name-value ="Overview" category="menu"></translate>
				</a>
			</li>
			<li>
				<a href="#/hr/overspeed" class="menu-icon driver">
					<translate name-value ="Over Speed" category="menu"></translate>
				</a>
			</li>
			<li>
				<a href="#/hr/drivehabit" class="menu-icon fleets">
					<translate name-value ="Driving Habit" category="menu"></translate>
				</a>
			</li>
		</ul>
	</div>
</div>