<table class="info-table">
	<tr>
		<td class="info-label"><translate name-value ="Fleet / Trip ID" category="label"/></td>
		<td class="info-value"><strong>{{trip.fid}}</strong> / {{trip.id}}</td>
	</tr>
	<tr>
		<td class="info-label"><translate name-value ="Driver" category="label"/></td>
		<td class="info-value">{{trip.driver? trip.driver.code : ''}} / {{trip.driver ? trip.driver.name : ''}}</td>
	</tr>									
	<tr>
		<td class="info-label"><translate name-value ="Started at / Till" category="label"/></td>
		<td class="info-value">{{trip.stm | fmstime}} / {{trip.etm | tripendtime}}</td>
	</tr>
	<tr>
		<td class="info-label"><translate name-value ="Last Speed" category="label"/></td>
		<td class="info-value speed-status"><span class="{{trip.typeClass}}"></span><strong>{{trip.vlc | triplastspeed : trip.etm}}</strong></td>
	</tr>
	<tr>
		<td class="info-label"><translate name-value ="Vehicle Status" category="label"/></td>
		<td class="info-value">
			<div class="col-xs-2 col-md-1 status-box gray padding-clear">{{trip.c_off}}</div>
			<div class="col-xs-2 col-md-1 status-box dark padding-clear">{{trip.c_idl}}</div>
			<div class="col-xs-2 col-md-1 status-box blue padding-clear">{{trip.c_low}}</div>
			<div class="col-xs-2 col-md-1 status-box green padding-clear">{{trip.c_nml}}</div>
			<div class="col-xs-2 col-md-1 status-box orange padding-clear">{{trip.c_hgh}}</div>
			<div class="col-xs-2 col-md-1 status-box red padding-clear">{{trip.c_ovr}}</div>
		</td>
	</tr>
	<tr>
		<td class="info-label"><translate name-value ="From" category="label"/></td>
		<td class="info-value">{{trip.fromAddress}}</td>
	</tr>
</table>
