<div>

	<monitor-side-info-trip></monitor-side-info-trip>

	<div class="tab-in-tab">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li id="infoTripTab" role="presentation" class="active">
	    	<a href="#info-trips" aria-controls="profile" role="tab" data-toggle="tab">
	    		<translate name-value="Trip List" category="tab" display="Trip List">
	    	</a>
	    </li>

	    <li id="infoAlertTab" role="presentation">
	    	<a href="#info-alerts" aria-controls="profile" role="tab" data-toggle="tab">
	    		<strong><translate name-value="Alert List" category="tab" display="Alert List"></strong>
	    	</a>
	    </li>    
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
			<!-- trip tab -->
			<div role="tabpanel" class="tab-pane active" id="info-trips">
				<monitor-side-info-trip-list></monitor-side-info-trip-list>
			</div>

			<!-- alert tab -->
			<div role="tabpanel" class="tab-pane" id="info-alerts">
				<monitor-side-info-alert-list></monitor-side-info-alert-list>
			</div>
	  </div>
	</div>

</div>