<form name="tripForm" class="form-horizontal">

	<ul class="setting-sidemenu">
		<li><a href="" class="menu-icon">Selected Trip</a></li>
	</ul>

	<monitor-info></monitor-info>

	<ul class="setting-sidemenu">
		<li><a href="" class="menu-icon">Trips & Alerts</a></li>
	</ul>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li id="selectedTripTab" role="presentation" class="active">
    	<a href="#trip-trip" aria-controls="profile" role="tab" data-toggle="tab">
    		<strong>Trip List</strong>
    	</a>
    </li>

    <li id="alertOfTripTab" role="presentation">
    	<a href="#trip-alerts" aria-controls="profile" role="tab" data-toggle="tab">
    		<strong>Alert List</strong>
    	</a>
    </li>    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
		<!-- trip tab -->
		<div role="tabpanel" class="tab-pane active" id="trip-trip">
			<monitor-info-trips></monitor-info-trips>
		</div>

		<!-- alert tab -->
		<div role="tabpanel" class="tab-pane" id="trip-alerts">
			<monitor-info-alerts></monitor-info-alerts>
		</div>
  </div>	

</form>