<form class="form-horizontal">
	<!-- group begin -->
	<div class="form-group">
	    <label for="inputPassword" class="col-xs-12 col-sm-3 col-md-2 control-label">group</label>
	    <div class="col-xs-11 col-sm-7 col-md-6 padding-clear">
	      <select name="group" class="form-control" ng-model="eventSearchParams.group" ng-init="selected=''"
	       ng-options="group.name for group in groups" >
	       	<option></option>
				</select>
	    </div>
	</div>
	<!-- group end -->

	<!-- period begin -->
	<div class="form-group">
	    <label for="inputPassword" class="col-xs-12 col-sm-3 col-md-2 control-label">period</label>
	    <div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
				 <div id="datepicker1" class="input-append date">
				     <input id="ctm_gte" data-format="yyyy-MM-dd" type="text" value="2015-07-01" ng-model="eventSearchParams.ctm_gte" placeholder="from">
				     </input>
				     <span class="add-on">
				       <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				     </span>
				</div>
	    </div>
			<span class="col-xs-1 col-sm-1 col-md-1 padding-clear align-center margin-t7">~</span>
	    <div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
				 <div id="datepicker2" class="input-append date">
				     <input id="ctm_gte" data-format="yyyy-MM-dd" type="text" ng-model="eventSearchParams.ctm_lte" placeholder="to"></input>
				     <span class="add-on">
				       <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				     </span>
				</div>
	    </div>
	</div>
	<!-- period end -->

	<!-- type begin -->
	<div class="form-group">
	  <label class="col-xs-12 col-sm-3 col-md-2 control-label">type</label>
		<div class="col-xs-11 col-sm-9 col-md-10 padding-clear">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="eventSearchParams.typ[0]" ng-true-value="'G'">
						<span class="type-icon impact"></span>impact
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="eventSearchParams.typ[1]" ng-true-value="'V'">
						<span class="type-icon overspeed"></span>over speed
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="eventSearchParams.typ[2]" ng-true-value="'I'">
						<span class="type-icon geofence"></span>geofence
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="eventSearchParams.typ[3]" ng-true-value="'B'">
						<span class="type-icon emergency"></span>emergency
				</label>
			</div>
		</div>
	</div>
	<!-- type begin -->

	<!-- severity begin -->
	<!--div class="form-group">
	  <label class="col-xs-12 col-sm-3 col-md-2 control-label">severity</label>
		<div class="col-xs-11 col-sm-9 col-md-10 padding-clear">
			<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check gray">green</label>
			<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check gray">blue</label>
			<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check gray">red</label>
		</div>
	</div-->
	<!-- severity begin -->
</form>

<!-- status begin -->
<div class="status">
	<div class="pull-left col-xs-12 col-sm-5 col-md-5">total : <strong>{{events.total}}</strong></div>
	<div class="pull-right col-xs-12 col-sm-7 col-md-7 align-right">
		<span class="type-icon impact-white"></span>{{eventTypeSummaries.impact}}
		<span class="type-icon overspeed-white"></span>{{eventTypeSummaries.overspeed}}
		<span class="type-icon geofence-white"></span>{{eventTypeSummaries.geofence}}
		<span class="type-icon emergency-white"></span>{{eventTypeSummaries.emergency}}
	</div>
</div>
<!-- status end -->

<!-- table begin -->
<div class="search-table">
	<table class="table table-striped table-hover" st-table="eventItems" st-pipe="pageEvents">
		<thead>
			<tr>
				<th>Fleet</th>
				<th>Driver</th>
				<th>Occurred Time</th>
				<th>Type</th>
				<th>Trip</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="eventItem in eventItems">
				<td>{{eventItem.fid}}</td>
				<td>{{eventItem.driver.name}}</td>
				<td>{{eventItem.etm | date:'medium'}}</td>
				<td class="icon-td align-center"><span class="{{eventItem.typeClass}}"></span></td>
				<td class="icon-td align-center" ng-click="showTrip(eventItem)">
						<span class="icon-trip" ng-show="eventItem.tid != null && eventItem.tid != ''"></span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" colspan="5">
					<div st-pagination="" st-items-by-page="events.limit" st-displayed-pages="events.total_page">
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<!-- table end -->

<!-- pagination begin - ->
<!- -
<div class="pagecontainer">
	<nav class="pull-left padding-clear">
      	<ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
	</nav>
	<div class="pull-right"><strong>1-20</strong> of 630</div>
</div>
-->
<!-- pagination end -->
