<table class="info-table">
	<tr>
		<td class="info-label"><strong>Fleet</strong> / Trip ID</td>
		<td class="info-value"><strong>{{trip.fid}}</strong> / {{trip.id}}</td>
	</tr>
	<tr>
		<td class="info-label">Driver</td>
		<td class="info-value">{{trip.driver? trip.driver.code : ''}} / {{trip.driver ? trip.driver.name : ''}}</td>
	</tr>									
	<tr>
		<td class="info-label">Started at / Till</td>
		<td class="info-value">{{trip.stm | fmstime}} / {{trip.etm | fmstime}}</td>
	</tr>
	<!--tr>
		<td class="info-label">Duration / Distance</td>
		<td class="info-value">0 h 0 m 0 s / 0 Km</td>
	</tr-->
	<tr>
		<td class="info-label">Last Speed</td>
		<td class="info-value speed-status"><span class="{{trip.typeClass}}"></span><strong>{{trip.vlc}} Km/h</strong></td>
	</tr>
	<tr>
		<td class="info-label">Vehicle Status</td>
		<td class="info-value">
			<div class="col-xs-2 col-md-1 status-box gray padding-clear">{{trip.c_off}}</div>
			<div class="col-xs-2 col-md-1 status-box dark padding-clear">{{trip.c_idl}}</div>
			<div class="col-xs-2 col-md-1 status-box blue padding-clear">{{trip.c_low}}</div>
			<div class="col-xs-2 col-md-1 status-box green padding-clear">{{trip.c_nml}}</div>
			<div class="col-xs-2 col-md-1 status-box orange padding-clear">{{trip.c_hgh}}</div>
			<div class="col-xs-2 col-md-1 status-box red padding-clear">{{trip.c_ovr}}</div>
		</td>
	</tr>
	<tr>
		<td class="info-label">From</td>
		<td class="info-value">{{trip.fromAddress}}</td>
	</tr>
</table>

<!-- pagination begin
<div class="pagecontainer">
	<nav class="pull-right padding-clear">
  	<ul class="pagination">
    <li class="padding-rl7 border-rl-lightgray" style="padding-top:3px;padding-bottom:8px">
      <button type="button" class="btn btn-in-pagination" ng-click="goPrevTrip()">
      	<span class="icon-infolist arrow-left"></span>Older Trip
      </button>
			<button type="button" class="btn btn-in-pagination" ng-click="goNextTrip()">Newer Trip
				<span class="icon-infolist arrow-right"></span>
			</button>
    </li>
    <li class="padding-rl7">
      <button type="button" class="btn btn-in-pagination" ng-click="goPrevAlert()">
      	<span class="icon-infolist arrow-left"></span>Older Alert
      </button>
			<button type="button" class="btn btn-in-pagination" ng-click="goNextAlert()">Newer Alert
				<span class="icon-infolist arrow-right"></span>
			</button>
    </li>
  </ul>
	</nav>
</div>pagination end -->
