<!-- side panel begin -->
<div class="col-xs-4 col-md-4 side-panel" ng-controller="SidebarCtrl" >
	<div class="height-full">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <!--li id="fleetTab" role="presentation" class="active">
	    	<a href="#side-fleets" aria-controls="home" role="tab" data-toggle="tab" ng-click="showRefreshButton()">
	    		<strong>Fleets</strong>
	    	</a>
	    </li>

	    <li id="alertTab" role="presentation">
	    	<a href="#side-alerts" aria-controls="profile" role="tab" data-toggle="tab" ng-click="showRefreshButton()">
	    		<strong>Alerts</strong>
	    	</a>
	    </li>

	    <li id="infoTab" role="presentation">
	    	<a href="#side-info" aria-controls="profile" role="tab" data-toggle="tab" ng-click="hideRefreshButton()">
	    		<strong>Selected Trip</strong>
	    	</a>
	    </li-->

	    <li role="presentation" class="{{tab.active}}" ng-repeat="tab in tabs">
	    	<a ng-href="#{{tab.id}}" aria-controls="home" role="tab" data-toggle="tab" ng-click="selectTab(tab)">
	    		<strong>{{tab.name}}</strong>
	    	</a>
	    </li>

			<button type="button" class="btn btn-default panel-toggle pull-right"></button>
			<button type="button" class="btn btn-default panel-refresh pull-right"></button>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">	  
	  	<div role="tabpanel" class="tab-pane active" id="side-fleets">
	    	<monitor-side-fleets></monitor-side-fleets>
	    </div>	    
			<div role="tabpanel" class="tab-pane" id="side-alerts">
				<monitor-side-alerts></monitor-side-alerts>
			</div>
			<div role="tabpanel" class="tab-pane" id="side-info">
				<monitor-side-info></monitor-side-info>
			</div>
	  </div>

	</div>
</div>
<!-- side panel end -->