<div class="col-xs-4 col-md-4 side-panel" toggle-switch ng-controller="SidebarCtrl" >
	<div class="height-full">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="{{tab.active ? 'active' : ''}}" ng-repeat="tab in tabs">
	    	<a ng-href="#{{tab.id}}" aria-controls="home" role="tab" data-toggle="tab" ng-click="selectTab(tab)">
	    		<strong><translate name-param ="tab.name" category="tab"></translate></strong>
	    	</a>
	    </li>

			<button type="button" class="btn btn-default panel-toggle pull-right"></button>
			<button type="button" class="btn btn-default panel-refresh pull-right"></button>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">	  
	  	<div role="tabpanel" class="tab-pane active" id="side-fleets">
	    	<monitor-side-fleets></monitor-side-fleets>
	    </div>	    
			<div role="tabpanel" class="tab-pane" id="side-alerts">
				<monitor-side-alerts></monitor-side-alerts>
			</div>
			<div role="tabpanel" class="tab-pane" id="side-info">
				<monitor-side-info></monitor-side-info>
			</div>
	  </div>

	</div>
</div>