development:
  adapter:  postgresql
  host:     169.53.135.8
  encoding: unicode
  database: trackvue
  username: postgres
  password: postgres
  template: template0
  pool:     5
test:
  adapter:  postgresql
  host:     169.53.135.8
  encoding: unicode
  database: trackvue
  username: postgres
  password: postgres
  template: template0
  pool:     5
production:
  adapter:  postgresql
  host:     169.53.135.8
  encoding: unicode
  database: trackvue
  username: postgres
  password: postgres
  template: template0
  pool:     5