<div ng-controller='GeofenceItem'>

	<ui-gmap-google-map id='geofenceCanvas' center='mapOption.center' zoom='mapOption.zoom'>

		<ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl" events="drawingManagerEvents">
		</ui-gmap-drawing-manager>
			
		<ui-gmap-polygon
			static="polygon.option.static"
			path="polygon.path"
			stroke="polygon.option.stroke"
			visible="polygon.option.visible"
			geodesic="polygon.option.geodesic"
			fill="polygon.option.fill"
			editable="polygon.option.editable"
			draggable="polygon.option.draggable"
			ng-cloak="">
		</ui-gmap-polygon>

	</ui-gmap-google-map>

	<div class="setting-content">
		<div class="line-infos bg-white col-xs-12">
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Name</label>
			 	<div class="col-xs-12 col-sm-5 col-md-5">
			 	 <input type="text" class="form-control" name="name" ng-model="polygon.name"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Description</label>
			 	<div class="col-xs-12 col-sm-9 col-md-9">
			 	 <input type="text" class="form-control" name="description" ng-model="polygon.description"></input>
			 	</div>
			</div>
					
			<button type="button" ng-click="resetPolygon()" class="btn btn-default margin-t7 pull-left">
				Reset
			</button>
			<button type="button" ng-click="deletePolygon()" class="btn btn-default margin-t7 pull-right">		Delete
			</button>
			<button type="button" ng-click="savePolygon()" class="btn btn-default margin-t7 pull-right btn-success margin-r7">
				Save
			</button>
		</div>
	</div>
</div>