<div ng-controller='GeofenceItemCtrl'>

	<ui-gmap-google-map id='geofenceCanvas' center='mapOption.center' zoom='mapOption.zoom' control='mapControl'>

		<ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl" events="drawingManagerEvents">
		</ui-gmap-drawing-manager>
			
		<ui-gmap-polygon
			static="polygon.option.static"
			path="polygon.path"
			stroke="polygon.option.stroke"
			visible="polygon.option.visible"
			geodesic="polygon.option.geodesic"
			fill="polygon.option.fill"
			editable="polygon.option.editable"
			draggable="polygon.option.draggable"
			ng-cloak="">
		</ui-gmap-polygon>

	</ui-gmap-google-map>
	
</div>