<div ng-controller='GeofenceItem'>

	<ui-gmap-google-map id='geofenceCanvas' center='mapOption.center' zoom='mapOption.zoom'>

		<ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl" events="drawingManagerEvents">
		</ui-gmap-drawing-manager>
			
		<ui-gmap-polygon
			static="polygonOption.static"
			path="polygonPath"
			stroke="polygonOption.stroke"
			visible="polygonOption.visible"
			geodesic="polygonOption.geodesic"
			fill="polygonOption.fill"
			editable="polygonOption.editable"
			draggable="polygonOption.draggable"
			ng-cloak="">
		</ui-gmap-polygon>

	</ui-gmap-google-map>

	<div class="setting-content">
		<div class="line-infos bg-white col-xs-12">
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Name</label>
			 	<div class="col-xs-12 col-sm-5 col-md-5">
			 	 <input type="text" class="form-control" name="name"></input>
			 	</div>
			</div>
			
			<div class="form-group">
			 	<label class="col-xs-12 col-sm-3 col-md-3 control-label">Description</label>
			 	<div class="col-xs-12 col-sm-9 col-md-9">
			 	 <input type="text" class="form-control" name="description"></input>
			 	</div>
			</div>
					
			<button type="button" class="btn btn-default margin-t7 pull-left">Reset</button>
			<button type="button" class="btn btn-default margin-t7 pull-right">delete</button>
			<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7">Save</button>
		</div>
	</div>
</div>