<!-- side panel begin -->
<div class="col-xs-4 col-md-4 side-panel" ng-controller="GeofenceCtrl" >
	<div class="height-full" ng-show="isSidebarToggle">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li id="geofenceTab" role="presentation" class="active">
				<a href="" aria-controls="home" role="tab" data-toggle="tab">
					<strong>Geofences</strong>
				</a>
			</li>

			<li id="relationTab" role="presentation" class="">
				<a href="" aria-controls="home" role="tab" data-toggle="tab">
					<strong>Geofence-Group Relation</strong>
				</a>
			</li>

			<button type="button" class="btn btn-default panel-toggle pull-right"></button>
			<button id="searchGeofences" type="button" class="btn btn-default panel-refresh pull-right"></button>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">

			<!-- geofence tab -->
			<div role="tabpanel" class="tab-pane active">
				<geofence-sidebar></geofence-sidebar>
			</div>

			<!-- relation tab -->
			<div role="tabpanel" class="tab-pane">
				<relation-sidebar></relation-sidebar>
			</div>
		</div>

	</div>
</div>
<!-- side panel end -->