<div class="col-xs-4 col-md-4 side-panel">
	<div class="height-full" ng-show="true">

		<!-- menu begin -->
		<ul class="setting-sidemenu">
			<li><a href="#/geofence" class="menu-icon geofence active">Geofence</a></li>
			<li><a href="#/geofence/settings" class="menu-icon setting">Geofence Setting</a></li>
			<li><a href="#/geofence/relations" class="menu-icon group">Geofence Group Relation</a></li>
			<button id="searchGeofenceSettings" type="button" class="btn btn-default panel-refresh pull-right"></button>
		</ul>
		<!-- menu end -->

		<!-- search condition begin -->
		<form name="geofenceViewForm" class="form-horizontal">
			<div class="form-group">
				<label for="inputPassword" class="col-xs-12 col-sm-3 col-md-2 control-label">Name</label>
				<div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
					<input name="name" type="text" ng-model="searchParams.name" placeholder="Name"></input>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">Desc.</label>
				<div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
					<input name="description" type="text" ng-model="searchParams.description" placeholder="Description"></input>
				</div>
			</div>
		</form>
		<!-- search condition end -->

		<!-- data table begin -->
		<div id="geofence-view-table-container" class="search-table">
			<table class="table table-striped table-hover" st-table="items" st-pipe="search">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Groups</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items" ng-click="goItem(item)" ng-class="{active : item.active}">
						<td>{{item.no}}</td>
						<td>{{item.name}}</td>
						<td>{{item.description}}</td>
						<td>{{item.groups}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- data table end -->

		<!-- geofence alert list begin -->
		<ul class="setting-sidemenu">
			<li><a href="" class="menu-icon geofence">Geofence Alert List</a></li>
		</ul>
		<!-- geofence alert list end -->

		<!-- event table begin -->
		<event-list event-type='typ_geofence'> </event-list>
		<!-- event table end -->

	</div>
</div>