<div class="col-xs-4 col-md-4 side-panel">	
	<div class="height-full" ng-show="true">
		
		<!-- menu begin -->
		<ul class="setting-sidemenu">
			<li class="submenu-title">
				<translate name-value ="Geofence" category="menu"/>
			</li>
			<li>
				<a href="#/geofence" class="">
					<translate name-value ="Geofence" category="menu"/>
				</a>
			</li>
			<li>
				<a href="#/geofence/settings" class="">
					<translate name-value ="Geofence Setting" category="menu"/>
				</a>
			</li>
			<li>
				<a href="#/geofence/relations" class="active">
					<translate name-value ="Group Assignment" category="menu"/>
				</a>
			</li>
			<button id="searchGeofenceRelations" type="button" class="btn btn-default panel-refresh pull-right"/>
		</ul>
		<!-- menu end -->
		
		<!-- search condition begin -->
		<form name="geofenceForm" class="form-horizontal">
			<div class="form-group">
				<label for="inputPassword" class="col-xs-12 col-sm-3 col-md-2 control-label">
					<translate name-value ="Search Name" category="label"/>
				</label>
				<div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
					<input name="name" type="text" class="form-control" ng-model="searchParams.name"/>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">
					<translate name-value ="Search Desc" category="label"/>
				</label>
				<div class="col-xs-10 col-sm-4 col-md-4 padding-clear">
					<input name="description" type="text" class="form-control" ng-model="searchParams.description"/>
				</div>
			</div>
		</form>
		<!-- search condition end -->

		<!-- data table begin -->
		<div id="geofence-relation-table-container" class="search-table">
			<table class="table table-striped table-hover" st-table="items" st-pipe="search">
				<thead>
					<tr>
						<th><translate name-value ="Name" category="label"/></th>
						<th><translate name-value ="Description" category="label"/></th>
						<th><translate name-value ="Groups" category="label"/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items" ng-click="goItem(item)" ng-class="{active : item.active}">
						<td>{{item.name}}</td>
						<td>{{item.description}}</td>
						<td>{{item.groups}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- data table end -->

	</div>
</div>