								<table class="info-table">
									<tr>
										<td class="info-label">Started at / Till</td>
										<td class="info-value">Fri May 29 2015 22:38:11 GMT-0800 / Fri May 29 2015 14:37:46 GMT-0800</td>
									</tr>
									<tr>
										<td class="info-label">Duration / Distance</td>
										<td class="info-value">0 h 0 m 0 s / 0 Km</td>
									</tr>
									<tr>
										<td class="info-label">Last Speed (Avg.)</td>
										<td class="info-value speed-status"><span class="status-box orange"></span><strong>111 Km/h</strong> (Avg: 41)</td>
									</tr>
									<tr>
										<td class="info-label">Speeds</td>
										<td class="info-value">
											<div class="col-xs-2 col-md-1 status-box gray padding-clear">0</div>
											<div class="col-xs-2 col-md-1 status-box dark padding-clear">1</div>
											<div class="col-xs-2 col-md-1 status-box blue padding-clear">3</div>
											<div class="col-xs-2 col-md-1 status-box green padding-clear">5</div>
											<div class="col-xs-2 col-md-1 status-box orange padding-clear">3</div>
											<div class="col-xs-2 col-md-1 status-box red padding-clear">0</div>
										</td>
									</tr>
									<tr>
										<td class="info-label">From</td>
										<td class="info-value">152-198 West 32nd Street, New York, NY 10001, USA</td>
									</tr>
								</table>
								<!-- pagination begin -->
								<div class="pagecontainer">
									<nav class="pull-right padding-clear">
								  	<ul class="pagination">
								    <li class="padding-rl7 border-rl-lightgray" style="padding-top:3px;padding-bottom:8px">
								      <button type="button" class="btn btn-in-pagination"><span class="icon-infolist arrow-left"></span>older trip</button>
											<button type="button" class="btn btn-in-pagination">newer trip<span class="icon-infolist arrow-right"></span></button>
								    </li>
								    <li class="padding-rl7">
								      <button type="button" class="btn btn-in-pagination"><span class="icon-infolist arrow-left"></span>older alert</button>
											<button type="button" class="btn btn-in-pagination">newer alert<span class="icon-infolist arrow-right"></span></button>
								    </li>
								  </ul>
									</nav>
								</div>	
								<!-- pagination end -->
