							<form class="form-horizontal">
								<!-- group begin -->
								<div class="form-group">
								    <label class="col-xs-12 col-sm-3 col-md-2 control-label">group</label>
								    <div class="col-xs-11 col-sm-7 col-md-6 padding-clear">
								      <select class="form-control">
  											<option>select group</option>
												<option>group 1</option>
											</select>	
								    </div>
								</div>
								<!-- group end -->
								
								<!-- speed begin -->
								<div class="form-group">
								    <label class="col-xs-12 col-sm-3 col-md-2 control-label">speed</label>
										<div class="col-xs-11 col-sm-9 col-md-10 padding-clear">
											<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check gray">off</label>
											<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check dark">idle</label>
											<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check blue">slow</label>
											<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check green">normal</label>
											<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check orange">fast</label>
											<label class="col-sm-4 padding-clear"><input type="checkbox" class="status-check red">speeding</label>
										</div>	
								</div>
								<!-- speed end -->		
							</form>
							
							<!-- status begin -->
							<div class="status">
								<div class="pull-left col-xs-12 col-sm-4 col-md-4">total : <strong>000</strong></div>
								<div class="pull-right col-xs-12 col-sm-8 col-md-8">
									<div class="col-xs-2 col-md-2 status-box gray padding-clear">20</div>
									<div class="col-xs-2 col-md-2 status-box dark padding-clear">10</div>
									<div class="col-xs-2 col-md-2 status-box blue padding-clear">40</div>
									<div class="col-xs-2 col-md-2 status-box green padding-clear">500</div>
									<div class="col-xs-2 col-md-2 status-box orange padding-clear">40</div>
									<div class="col-xs-2 col-md-2 status-box red padding-clear">20</div>
								</div>
							</div>
							<!-- status end -->
							
							<!-- table begin -->
							<div class="search-table">
								<table class="table table-striped table-hover">
								  <tr>
										<th></th>
										<th>driver</th>
										<th>vehicle</th>
										<th>speed</th>
										<th>trip</th>
									</tr>
									<tr>
										<td>1</td>
										<td>R.Soltys</td>
										<td>Renault</td>
										<td><span class="status-box green"></span>95km/h</td>
										<td class="icon-td align-center"><span class="icon-trip"></span></td>
									</tr>
									<tr>
										<td>2</td>
										<td>Dunavant</td>
										<td>Benz</td>
										<td><span class="status-box blue"></span>36km/h</td>
										<td class="icon-td align-center"><span class="icon-trip"></span></td>
									</tr>
								</table>
							</div>
							<!-- table end -->
							
							<!-- pagination begin -->
							<div class="pagecontainer">
								<nav class="pull-left padding-clear">
							  	<ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
								</nav>
								<div class="pull-right"><strong>1-20</strong> of 630</div>
							</div>	
							<!-- pagination end -->