<div class="report-content">
	
	<fms-bar-chart class="col-xs-12 col-sm-6" title="Driving Time(top 10)"></fms-bar-chart>

	<fms-bar-chart class="col-xs-12 col-sm-6" title="Driving Distance(top 10)"></fms-bar-chart>

	<fms-bar-chart class="col-xs-12 col-sm-6" title="Overspeed Count(top 10)"></fms-bar-chart>

	<fms-line-chart class="col-xs-12 col-sm-6" title="Impact Count(top 10)"></fms-line-chart>

	<fms-line-chart class="col-xs-12 col-sm-6" title="Geofence Count(top 10)"></fms-line-chart>

	<fms-line-chart class="col-xs-12 col-sm-6" title="Emergency Count(top 10)"></fms-line-chart>

</div>