<div class="setting-content">
	<div class="col-xs-12 col-sm-7 col-md-7">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-3 control-label">
					<translate name-value ="Name" category="label"> </translate>
				</label>
				<div class="col-xs-11 col-sm-9 col-md-9">
					<input type="text" class="form-control" ng-model="item.name"></input>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-3 control-label">
					<translate name-value ="Description" category="label"> </translate>
				</label>

				<div class="col-xs-11 col-sm-9 col-md-9">
					<textarea class="form-control" rows="3" ng-model="item.description"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="line-infos bg-white col-xs-12">
		<div id="geofence-relation-table-container" class="search-table">
			<table class="table table-striped table-hover" st-pagination-scroll st-table="items" st-pipe="searchGeofenceGroups">
				<thead>
					<tr>
						<th><translate name-value ="Remove" category="label"/></th>
						<th>#</th>
						<th><translate name-value ="GroupName" category="label"/></th>
						<th><translate name-value ="Group Description" category="label"/></th>
						<th><translate name-value ="Event" category="label"/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="geofenceGroup in items" ng-show="geofenceGroup.isShow">
						<td><input type="checkbox" ng-model='geofenceGroup.deleteFlag'></td>
						<td>{{geofenceGroup.no}}</td>
						<td ng-click="isHiddenGroup=false">
						  <span ng-hide="!isHiddenGroup">{{geofenceGroup.fleet_group.name}}</span>					 
							<select ng-model="geofenceGroup.fleet_group_id" ng-options="fleet_group.id as fleet_group.name for fleet_group in groups" ng-hide="isHiddenGroup">
   							<option value=""></option>
							</select>
						</td>
						<td>{{geofenceGroup.fleet_group.description}}</td>
						<td ng-click="isHiddenAlarmType=false">
							<span ng-hide="!isHiddenAlarmType">{{geofenceGroup.alarm_type}}</span>
							<select ng-model="geofenceGroup.alarm_type" ng-hide="isHiddenAlarmType">
   								<option value=""></option>
   								<option value="IN">IN</option>
								<option value="OUT">OUT</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-context">
			<button type="button" class="btn pull-right icon-minus" ng-click="deleteRelation()"></button>
			<button type="button" class="btn pull-right icon-plus" ng-click="addRelation()"></button>
		</div>
		
		<button type="button" class="btn btn-default margin-t7 pull-left" ng-show="item.canBeBack" ng-click="back()"><translate class="col-xs-3 control-label" name-value ="Back" category="button"/></button>
		<button type="button" class="btn btn-default margin-t7 pull-left" ng-click="new()">
			<translate class="col-xs-3 control-label" name-value ="New" category="button"/>
		</button>
		<button type="button" class="btn btn-default margin-t7 pull-right btn-success margin-r7" ng-click="save()">
			<translate class="col-xs-3 control-label" name-value ="Save" category="button"/>
		</button>
	</div>
	
</div>