/*  layout */
html,body{height:100%;}
*:focus{outline:none;box-shadow:none;-webkit-box-shadow:none;}
.width-full{width:100% !important;}
.height-full{height:91%;}
.height-100p{height:100%;}
.padding-clear{padding:0 !important;}
.float-clear{clear:both !important;}
label input[type="checkbox"]{margin-right:5px;}
.checkbox input[type="checkbox"]{margin-top:2px;}
.status-box{margin-top:5px;text-align:center;color:#fff;font-size:11px;}
.status-box.gray{background-color:#c2c2c2;}
.status-box.dark{background-color:#707070;}
.status-box.blue{background-color:#4ca6df;}
.status-box.green{background-color:#5cb85c;}
.status-box.orange{background-color:#ff9c01;}
.status-box.red{background-color:#f03d01;}

.status-check{background:url(/assets/icon-status-check.png) no-repeat;padding:0 0 5px 20px;text-decoration:none;cursor:pointer;}
.status-check.gray{background-position:-1px 0;}
.status-check.dark{background-position:-1px -100px;}
.status-check.blue{background-position:-1px -200px;}
.status-check.green{background-position:-1px -300px;}
.status-check.orange{background-position:-1px -400px;}
.status-check.red{background-position:-1px -500px;}
.status-check.gray.active{background-position:-601px 0;}
.status-check.dark.active{background-position:-601px -100px;}
.status-check.blue.active{background-position:-601px -200px;}
.status-check.green.active{background-position:-601px -300px;}
.status-check.orange.active{background-position:-601px -400px;}
.status-check.red.active{background-position:-601px -500px;}

.table th{background:url(/assets/bg-th.png) 0 100% repeat-x #f7f8fa;color:#8a95a5;border:1px solid #e9ebf0;border-width:0  1px;border-right-color:#bfcfda;border-bottom-color:#e9ebf0;border-left-color:#f4f5f8;padding:6px 8px !important;}
.icon-trip{background:url(/assets/icon-sidepanel.png) 0 -150px no-repeat;display:inline-block;width:15px;height:18px;cursor:pointer;}
.align-left{text-align:left !important;}
.align-center{text-align:center !important;}
.align-right{text-align:right !important;}
.margin-t5{margin-top:5px;}
.margin-r5{margin-right:5px;}
.margin-b5{margin-bottom:5px !important;}
.margin-t7{margin-top:7px;}
.margin-r7{margin-right:7px;}
.margin-b7{margin-bottom:7px !important;}
.margin-l7{margin-left:7px;}
.margin-t10{margin-top:10px;}
.margin-r10{margin-right:10px !important;}
.margin-b10{margin-bottom:10px !important;}
.margin-l10{margin-left:10px !important;}
.margin-r15{margin-right:15px !important;}
.margin-l15{margin-left:15px !important;}
.margin-t20{margin-top:20px;}
.margin-mt5{margin-top:-5px;}

.min-w100{display:inline-block;width:100px;}
.padding-t4{padding-top:4px !important;}
.padding-rl7{padding-left:7px;padding-right:7px;}
.max-w50{max-width:50px;}
.max-w60{max-width:60px;}
.max-w100{max-width:100px;}
.max-w200{max-width:200px;}

.text-white{color:#fff !important;}

.border-rl-lightgray{border:1px solid #d7d7d8;border-width:0 1px;}
.type-icon{background:url(/assets/icon-type.png) no-repeat;display:inline-block;width:16px;height:16px;margin-right:4px;vertical-align:middle;}
.type-icon.impact{background-position:0 0;}
.type-icon.overspeed{background-position:0 -50px;}
.type-icon.geofence{background-position:0 -100px;}
.type-icon.emergency{background-position:0 -150px;}
.type-icon.impact-white{background-position:-50px 0;}
.type-icon.overspeed-white{background-position:-50px -50px;}
.type-icon.geofence-white{background-position:-50px -100px;}
.type-icon.emergency-white{background-position:-50px -150px;}
.type-icon.impact-red{background-position:-100px 0;}
.type-icon.overspeed-red{background-position:-100px -50px;}
.type-icon.geofence-red{background-position:-100px -100px;}
.type-icon.emergency-red{background-position:-100px -150px;}
.form-control{height:25px;}

.navbar{border-radius:0;margin-bottom:0;border:none;min-height:55px;}
.navbar-nav .dropdown-toggle{background:url(/assets/icon-haeader.png) no-repeat;padding-left:19px;}
.navbar-nav .dropdown .caret{color:#868c97;}
.dropdown-toggle.user{background-position:0 -92px;top:6px;right:10px;}
.navbar-nav .dropdown-menu{background-color:#3F4C61;}
.navbar-nav .dropdown-menu>li>a{padding:3px 10px;text-transform:capitalize;color:#D4DFE4;border:none;border-bottom:1px solid #364357;}
.navbar-nav .dropdown-menu>li>a:hover{background-color:#364256;border-left:3px solid #2F79A6;border-bottom:1px solid #2a3547;}
.navbar-nav .dropdown-menu .divider{margin:0;background-color:#2F79A6;}
.navbar-nav .top-menu{display:block;width:80px;height:55px;}
.navbar-nav .top-menu a{background:url(/assets/icon-topmenu.png) no-repeat;width:100%;height:100%;border-right:1px solid #2D3746;cursor:pointer;text-align:center;line-height:6;}
.navbar-nav .top-menu a.icon-map{background-position:30px 13px;}
.navbar-nav .top-menu a.icon-geofence{background-position:30px -87px;}
.navbar-nav .top-menu a.icon-hr{background-position:26px -188px;}
.navbar-nav .top-menu a.icon-report{background-position:30px -287px;}
.navbar-nav .top-menu a.icon-setting{background-position:28px -387px;}
.navbar-nav .top-menu.active{background:url(/assets/bg-topmenu.png) 50% 0 no-repeat;}
.navbar-nav .top-menu.active a{color:#fff;}
.navbar-nav .top-menu.active a.icon-map{background-position:-120px 13px;}
.navbar-nav .top-menu.active a.icon-geofence{background-position:-120px -87px;}
.navbar-nav .top-menu.active a.icon-hr{background-position:-124px -188px;}
.navbar-nav .top-menu.active a.icon-report{background-position:-120px -287px;}
.navbar-nav .top-menu.active a.icon-setting{background-position:-122px -387px;}
.navbar-toggle .icon-bar{width:25px;height:3px;}
.navbar-toggle .icon-bar+.icon-bar{margin-top:5px;}
@media (min-width: 768px){.navbar-right{margin-right:5px;}}

@media (max-width: 767px){.navbar-nav.navbar-right{padding-left:25px;border-top:1px solid #495363;}}
@media (max-width: 767px){.navbar-nav .top-menu{display:inline-block;margin-right:-5px}}
@media (max-width: 768px){.navbar-brand{padding:7px 0;}}
@media (min-width: 768px){.navbar-brand{margin-top:6px;}}

.side-panel{padding:0;height:100%;}
.side-panel .nav-tabs{border-bottom:1px solid #c9ced1;}
.side-panel .nav-tabs a{color:#8a95a5;}
.side-panel .nav-tabs>li.active>a{color:#4e515e;border:none;border-bottom:2px solid #15a4fa;}
.side-panel .nav-tabs>li a:hover{background:transparent;border:none;border-bottom:2px solid #15a4fa;}
.side-panel .nav-tabs{background-color:#fff;}
.side-panel .tab-content .form-horizontal{padding:10px 10px 0 10px;}
.side-panel label{font-weight:normal;color:#354052;text-transform:capitalize;}
.side-panel .form-group{margin-bottom:10px;}
.side-panel .status{background:url(/assets/bg-side-status.png) #7a8e9f repeat-x;min-height:25px;overflow:hidden;}
.side-panel .status .pull-left{padding-left:10px;color:#fff;line-height:2.2;}
.side-panel .status .pull-right{padding-left:0px;padding-right:5px;}
.panel-toggle{background:url(/assets/icon-sidepanel.png) 6px 10px no-repeat;border:none;width:20px;height:24px;}
.panel-refresh{background:url(/assets/icon-sidepanel.png) 6px -40px no-repeat !important;border:none;width:20px;height:24px;position:absolute;right:0;margin:28px 7px 0 0;}
.panel-toggle:hover,.panel-refresh:hover{background-color:transparent;}
.input-append.date .add-on i, .input-prepend.date .add-on i{right:3px;position:absolute;margin-top:-21px;}
.bootstrap-datetimepicker-widget ul{-webkit-padding-start:0px;padding:0;}
.icon-calendar{background:url(/assets/icon-sidepanel.png) 0px -98px no-repeat;}

.search-table{overflow-x:auto;overflow-y:auto;}
.search-table .table{margin-bottom:0;}
.search-table th:last-child{border-right:none;}
.search-table tr.active td,.search-table tr.active th{background-color:#40bba7 !important;color:#fff;}
.search-table tr.active td{border-top-color:#B1DAB0;}
.search-table .status-box,.infolist-panel .speed-status .status-box,.detail-item  .status-box{width:10px;height:10px;display:inline-block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin:2px 4px 0 0;}
.table td{padding:5px 8px !important;vertical-align:middle;}
.table td.icon-td{padding:4px 5px 0 5px !important;}
.pagecontainer{background:url(/assets/bg-pagination.png) repeat-x;position:absolute;bottom:0;width:100%;border-top:solid 1px #d7d8d9;height:25px;}
.pagecontainer .pagination{margin:0;}
.pagecontainer .pagination a, .pagecontainer .pagination span{border-radius:0 !important;border-width:0 1px;background-color:transparent;}
.pagecontainer .pagination a{padding:4px 9px;}
.pagecontainer .pull-right{padding:4px 10px 0 0;color:#585858;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background:url(/assets/bg-pagination-active.png) repeat-x;border-color:#41576b;}
#alert .status{color:#fff;}
#alert .status .align-right{margin-top:4px;}
#alert .status .align-right .type-icon{margin-left:12px;}

.infolist-panel{position:fixed;bottom:0;width:66.66666667%;}
.infolist-panel .nav-tabs{background:url(/assets/bg-side-status.png) #7a8e9f repeat-x;height:25px;}
.infolist-panel .nav-tabs li{margin-top:2px;}
.infolist-panel .nav-tabs li:first-child{margin-left:10px;}
.infolist-panel .nav-tabs>li.active>a, .infolist-panel .nav-tabs>li.active>a:hover,.infolist-panel .nav-tabs>li.active>a:focus{color:#4a759a;font-weight:500;border:none;background-color:#fff !important;}
.infolist-panel .nav-tabs>li>a{height:23px;padding:4px 10px;color:#d2def2;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.infolist-panel .nav-tabs>li>a:hover{background-color:transparent;border:none;color:#fff;}
.infolist-panel .tab-content{background-color:#fff;}
.infolist-panel .info-label{background:url(/assets/dot-blue.png) 10px 55% no-repeat;padding:7px 10px 5px 20px;color:#666;}
.infolist-panel .info-value{padding:7px 10px 5px 0;}
.icon-infolist{background:url(/assets/icon-infolistpanel.png) no-repeat;}
.icon-infolist.panel-toggle{background-position:5px 11px;}
.infolist-panel .info-table{width:98%;margin-left:1%;}
.infolist-panel .info-table td{border-bottom:1px solid #f2f2f2;}
.icon-panel-option{background:url(/assets/icon-panel-sizeoption.png) no-repeat;border-radius:0;border:1px solid #607788;border-width:0 0 0 1px;width:30px;height:18px;margin-top:4px;opacity:.6;}
.icon-panel-option.size-hide{background-position:5px -299px;}
.icon-panel-option.size-mini{background-position:5px 1px;}
.icon-panel-option.size-half{background-position:5px -99px;}
.icon-panel-option.size-full{background-position:5px -199px;}
.icon-panel-option:hover,.icon-panel-option.active,.icon-panel-option:focus{background-color:transparent !important;opacity:1 !important;border-color:#607788 !important;}
.btn-in-pagination{background-image:-webkit-linear-gradient(top,#394e61 0,#2c4051 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#394e61),to(#2c4051));
	background-image:-o-linear-gradient(top,#394e61 0,#2c4051 100%);
	background-image:linear-gradient(to bottom,#394e61 0,#2c4051 100%);
	margin-top:3px;padding:0 5px;
	color:#fff;font-size:11px;
}
.btn-in-pagination:hover{color:#25bce2;}
.icon-infolist.arrow-left{background-position:0 -50px;display:inline-block;width:10px;height:9px;position:relative;top:1px;}
.icon-infolist.arrow-right{background-position:3px -100px;display:inline-block;width:10px;height:9px;position:relative;top:1px;}
.info-table .status-box{margin-top:0px;}
.info-table .info-label{white-space:nowrap;padding-right:10px;padding-left:10px;color:#556173}
.side-panel .info-table{margin:5px 7px;}
/*.side-panel .info-table tr:nth-child(even){background-color:#fff;}*/
.side-panel .info-table td{padding-top:5px;padding-bottom:5px;border-bottom:1px dotted #bfcfda;}
.infolist-panel .pagecontainer{position:relative;}
#alert-list .form-group,#trip-list .form-group{padding-top:7px;margin-bottom:7px;}
.infolist-panel th{padding:4px 8px !important;}
#alert-list table{margin-bottom:0;}

.navbar-default .navbar-toggle{border-color:transparent;margin-top:6px;padding:5px 6px;right:18px;}
.navbar-default .navbar-toggle:hover{background-color:#33363A;}
.navbar-default .navbar-toggle .icon-bar{background-color:#ccc;}
.navbar-default .navbar-toggle:hover .icon-bar{background-color:#fff;}

.content{border-left:1px solid #8292ad;}
.content,.content .height-full .ng-scope,.content #mapCanvas,.content .angular-google-map,.content .angular-google-map-container{height:100%;}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {max-width: none;}

.backward-layer{width:400px;height:267px;}
.forward-layer{width:180px;position:absolute;top:0px;left:263px;
-webkit-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.2);box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.2);z-index:1000;}
.pip-container img{max-width:380px;max-height:230px;}
.pip-container img.forward-layer{width:160px;height:100px;top:5px;left:231px;}
.modal-btn-trip{background-image:url(/assets/icon-modal.png);background-position:112% 7px;padding:5px 15px 4px 10px !important;}
.modal-btn-trip:hover{background-image:url(/assets/icon-modal.png);}
.detail-time strong{display:block;}
.detail-address{font-size:11px;color:#666;}
.detail-info-table{font-size:12px;}

th.modal-icon,.modal-icon{background:url(/assets/icon-modal.png) no-repeat !important;}
th.modal-icon.dot-gray{background-position:0 -39px !important;border:none;padding:5px 5px 3px 7px !important;font-weight:normal;}
.detail-item .modal-icon{background-position:0 -44px !important;padding:0 0 0 7px !important;margin-right:5px;}
.detail-item strong{margin-right:40px;}
.photos{width:155px;}
.photos img{width:145px !important;height:95px !important;border:1px solid #c4c4c4;}

.gm-style .gm-style-iw{width:350px !important;overflow:visible;}
.carousel-indicators{bottom:-5px;left:47%;}
.carousel-indicators li{width:7px;height:7px;border:none;background-color:#c4c4c4;margin:0px;}
.carousel-indicators .active{width:7px;height:7px;border:none;background-color:#999;margin:0px;}

/* login style */
.authform{background:url(/assets/image-intro.png) no-repeat;width:650px;min-height:300px;margin:auto;margin-top:100px;}
.authform form{margin-left:420px;padding-top:10px;}
.authform h3{background:url(/assets/brand-black.png) 0 3px no-repeat;padding-top:1px;padding-left:140px;min-height:27px;font-size:18px;color:#585858;}
@media(max-width: 600px){.authform{background:url(/assets/image-intro.png) no-repeat;background-size:90%;width:400px;min-height:300px;margin:auto;margin-top:50px;}}
@media(max-width: 600px){.authform form{margin-left:5%;padding-top:210px;width:80%;}}
.login-side{border-top:1px dotted #c4d9e8;position:relative;top:5px;padding-top:5px;}
.login-side a{background:url(/assets/icon-submenu.png) no-repeat;padding:0 10px 0 17px;}

/* alert popup */
.alert-popup{position:absolute;top:55px;right:5px;min-width:200px;background-color:#fff;border:none;border-left:24px solid #f03d01;padding:10px 5px 10px 7px;
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;
font-size:12px;color:#666;}
.alert-popup .type-icon{position:absolute;left:-20px;}
.alert-popup strong{display:block;font-size:15px;color:#333;}
.alert-popup strong button{border:none;background-color:#fff;padding:0 0 3px 1px;}
.alert-popup .close{margin-right:5px;line-height:0.7;}
.side-solid-line .search-table{border-top:2px solid #CBD9E2;}
.alert-count{background:url(/assets/icon-haeader.png) 0 -141px no-repeat;position:relative;top:6px;width:40px;height:30px;margin-right:5px !important;padding:0 0 0 10px;/*cursor:pointer;*/}
.alert-count span{
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	background-color:#ff6569;padding:1px 4px 2px 3px;color:#fff;font-size:10px;
}

/* setting layout */
/*.setting-sidemenu li{border-bottom:1px solid #43536c;background-color:#4d5f7d;}
.setting-sidemenu li .menu-icon{background:url(/assets/icon-setting-menu.png) 10px 6px no-repeat #4d5f7d;width:100%;display:block;padding:7px 0 5px 33px;border:3px solid #4d5f7d;border-width:0 0 0 3px;color:#fff;cursor:pointer;}
.setting-sidemenu li .menu-icon.preferences{background-position:10px 6px;}
.setting-sidemenu li .menu-icon.driver{background-position:10px -94px;}
.setting-sidemenu li .menu-icon.fleets{background-position:10px -194px;}
.setting-sidemenu li .menu-icon.group{background-position:10px -294px;}
.setting-sidemenu li .menu-icon.geofence{background-position:10px -394px;}
.setting-sidemenu li .menu-icon.overspeed{background-position:10px -494px;}
.setting-sidemenu li .menu-icon.chart{background-position:10px -594px;}*/

.side-panel .submenu-title{background-color:#00a0c6;padding:3px 0 2px 8px;color:#fff;font-size:14px;text-transform:uppercase;}
.setting-sidemenu{list-style:none;background-color:#fff;padding:0;margin:0;}
.setting-sidemenu.list5-scroll{height:135px;overflow-x:hidden;overflow-y:auto;}
.setting-sidemenu a{background:url(/assets/icon-submenu.png) 99% -43px no-repeat;border-bottom:1px solid #e5e5e5;margin:0 15px;padding:5px 0 5px 4px;display:block;}
.setting-sidemenu a.active{background-position:99% 7px;color:#018aab;font-weight:bold;text-decoration:underline;}
.setting-sidemenu li:last-child a{margin-bottom:10px;}

.setting-sidemenu .panel-refresh{margin:8px 9px 0 0;}
.setting-sidemenu+form{background-color:#cedde7;padding:10px 0 1px 10px !important;border-top:2px solid #AAB8C1;}
.setting-content,.report-content{padding-top:25px;}
.setting-content .photo-driver-container{background:url(/assets/noimage-driver.png) 50% 50% no-repeat #fff;width:100%;min-height:150px;max-height:170px;border:1px solid #ccc;overflow:hidden;}
.setting-content .photo-fleet-container{background:url(/assets/noimage-fleet.png) 50% 50% no-repeat #fff;width:100%;min-height:150px;max-height:170px;border:1px solid #ccc;}
.setting-content .photo-driver{width:100%;min-height:150px;max-height:170px;overflow:hidden;}
.setting-content .control-label{color:#4d5f7d}
.setting-content .form-group .control-label{padding-top:4px !important;}
.setting-content .line-infos .form-group{border-bottom:1px solid #efefef;overflow:hidden;margin-bottom:5px;padding:7px 0 5px 0;}
.setting-content .bg-white{background:url(bg_white_gradient.png) repeat-x;margin-top:15px;padding:15px;border-top:1px solid #d4d9dd;}
.setting-content fieldset{margin:0 15px 25px 15px;padding-bottom:5px;border:1px solid #d1dae4;}
.setting-content fieldset legend{margin-left:10px;margin-bottom:5px;padding:0 5px;border:none;width:initial !important;color:#6883ae;font-weight:normal;}
.setting-content fieldset .form-group{margin-bottom:10px;}
.setting-content button.photo-fleet{background:url(/assets/icon-setting-menu.png) -795px -197px no-repeat #fff;height:24px;width:27px;}
.setting-content button.photo-driver{background:url(/assets/icon-setting-menu.png) -795px -97px no-repeat #fff;height:24px;width:27px;min-height:24px;}
.setting-content .search-table{border:1px solid #bfcfda;border-width:1px 0;}
.setting-content .search-table th{border-width:1px 1px 0 1px;border-top:#f4f5f8;}
.table-context{overflow:hidden;margin:4px 0 5px 0;}
.radio.pull-left{padding-left:12px;}
.radio label.pull-left{margin:5px 5px 0 0;}

.form-horizontal .radio{padding-top:0;}
.setting-content .form-horizontal input[type="radio"]{margin-top:0;}
.setting-content fieldset .align-left{padding-left:15px !important;}
.setting-content fieldset.col-xs-12{padding-left:0;padding-right:0;}
.setting-content .form-horizontal .checkbox{padding:0 0 10px 10px;}
.table-context button{width:24px;height:20px;border:1px solid #e8e8e8;border-width:0 1px;border-radius:0;cursor:pointer !important;}
.table-context .icon-plus{background:url(/assets/icon-table-context.png) 8px 7px no-repeat}
.table-context .icon-minus{background:url(/assets/icon-table-context.png) 8px -43px no-repeat;margin-left:-1px;}
.table-context .icon-plus:hover{background-position:-42px 7px;}
.table-context .icon-minus:hover{background-position:-42px -43px;}

/* report style */
.report-content .panel-heading{background:url(/assets/bg-th.png) 0 100% repeat-x #f7f8fa;padding:7px 10px;color:#798ca8;}
.report-content .panel-heading:before{content:'';
background:url('/assets/icon-chart-header.png') no-repeat;height:16px;width:23px;padding-left:30px;}
.report-content .type-bar .panel-heading:before{background-position:0 0;}
.report-content .type-pie .panel-heading:before{background-position:0 -50px;}
.report-content .type-line .panel-heading:before{background-position:0 -100px;}
.report-content .panel-default{border-color:#bfcfda;padding:0;margin:0 1% 15px 1%;}
.report-content .col-sm-6,.report-content .col-md-6{width:48%;}
.chart-legend li span, .bar-legend li span, .line-legend li span, .pie-legend li span, .radar-legend li span, .polararea-legend li span, .doughnut-legend li span{width:15px;height:10px;top:4px;}
.chart-container{padding-top:7px;}
.bar-legend{margin-top:3px;margin-bottom:3px;}
.report-list{padding:5px 0 5px 10px;}
.report-list .dropdown-menu{min-width:300px;}

/*for loading animation*/
.loading {
  margin: 10% auto;
	border-bottom: 6px solid #fff;
	border-left: 6px solid #fff;
	border-right: 6px solid #c30;
	border-top: 6px solid #c30;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	-webkit-animation: spin .6s infinite linear;
	-moz-animation: spin .6s infinite linear;
	-ms-animation: spin .6s infinite linear;
	-o-animation: spin .6s infinite linear;
	animation: spin .6s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
   	-moz-transform: rotate(359deg);
   	-o-transform: rotate(359deg);
   	-ms-transform: rotate(359deg);
   	transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

.st-sort-ascent:before{content:'';
background:url('/assets/icon-table-context.png') 0 -144px no-repeat;height:16px;width:16px;padding-left:12px;}
.st-sort-descent:before{content:'';
background:url('/assets/icon-table-context.png') 0 -94px no-repeat;height:16px;width:16px;padding-left:12px;}

.tab-in-tab{border:1px solid #bfcfda;background-color:#fff;margin:7px;padding:7px;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.tab-in-tab .nav-tabs>li>a,.tab-in-tab .nav-tabs>li>a:hover{background-color:#f4f4f4;border:1px solid #c8d2d9;}
.tab-in-tab .nav-tabs>li.active>a,.tab-in-tab .nav-tabs>li.active>a:hover{background-color:#fff;border:1px solid #a0bacc;border-bottom:1px solid #fff;color:#2A78AF;}
.tab-in-tab .nav-tabs{border-bottom:1px solid #a0bacc;}
.tab-in-tab .form-horizontal{padding:10px 0 0 0 !important;}
.tab-in-tab .table th{padding:5px 4px !important;font-weight:normal;font-size:11px;}
.tab-in-tab .table{border:1px solid #bfcfda;border-width:1px 0;}

.side-toggle{background:url('/assets/icon-topmenu.png') 0 -500px no-repeat;position:fixed;top:10px;right:10px;border:none;width:30px;height:24px;}
.side-toggle.show{background-position:-150px -500px;}

.refresh-control{background-color: rgba(53, 64, 82, 0.7);position:fixed !important;right:0 !important;bottom:0 !important;height:27px !important;padding:3px 10px;z-index:100000000 !important;color:#efefef;
	-webkit-border-top-left-radius: 7px;-moz-border-radius-topleft:7px;border-top-left-radius:7px;}
.refresh-control input{color:#333;}
.map-control{background-color: rgba(53, 64, 82, 0.8);
	-webkit-border-bottom-right-radius: 25px;-webkit-border-bottom-left-radius: 25px;-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;border-bottom-right-radius: 25px;border-bottom-left-radius: 25px;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.26);-moz-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.26);box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.26);
	padding:0 9px 0 20px;height:23px !important;text-align:center;}
.map-control button{background:url('/assets/icon-map-control.png') 0 -99px no-repeat transparent;border:none;;color:#afbacd;padding:5px 10px 3px 22px;}
.map-control button:hover{color:#fff;}
.map-control button.btn-primary{background-position:0 1px;color:#fff;font-weight:bold;}
.map-control button.btn-primary:hover{background-color:transparent;}
.map-control:nth-child(even) button{margin:0 5px;}

/* date picker */
.date .dropdown-menu{padding:0 0 10px 0;overflow:hidden;}
.date .dropdown-menu thead tr:first-child{background-color:#425169 !important;}
.date .dropdown-menu thead tr:first-child .glyphicon{background:url('/assets/icon-datepicker.png') 4px 1px no-repeat;width:20px;display:block;height:16px;opacity:.5;}
.date .dropdown-menu thead tr:first-child .glyphicon:hover{opacity:1;}
.date .dropdown-menu thead tr:first-child .glyphicon.glyphicon-chevron-right{background-position:6px -49px;}
.date .dropdown-menu thead tr:first-child button{border:none;background-color:transparent;padding:5px 5px;color:#fff;font-size:13px;}
.date .dropdown-menu thead tr:last-child{background-color:#efefef;border-bottom:1px solid #ccc;font-size:11px;color:#999;}
.date .dropdown-menu thead tr:last-child th{padding:2px 0;font-weight:normal;}
.date .dropdown-menu tbody tr{border-bottom:1px dotted #efefef;}
.date .dropdown-menu tbody button{border:none;background-color:transparent;border-right:none;}
.date .dropdown-menu tbody .text-muted{color:#ccc;}
.date .dropdown-menu thead th:last-child,.date .dropdown-menu tbody td:last-child button{color:#006699;}
.date .dropdown-menu thead th:nth-child(2),.date .dropdown-menu tbody td:nth-child(2) button{color:#d45d3d;}
.date .dropdown-menu tbody td:first-child{border-right:1px solid #efefef;background-color:#f1f6fe;color:#8a95a5;}
.date .dropdown-menu table[ng-switch-when="month"] td:last-child button{color:#333 !important;}
.date .dropdown-menu table[ng-switch-when="month"] tbody td:first-child{border:none;background-color:transparent;color:#333 !important;}
.date .dropdown-menu table[ng-switch-when="month"] tbody td:nth-child(2) button{color:#333 !important;}
.date .dropdown-menu tbody .btn:active,.date .dropdown-menu tbody .btn.active{
	background-color:#41c3ff;padding:5px 9px;
	-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;
}
.date .dropdown-menu tbody .btn:active span,.date .dropdown-menu tbody .btn.active span{color:#fff !important;}