<div ng-controller='MonitorMapCtrl'>
	<script type="text/ng-template" id="control.viewmode.tpl.html">
		<div class="map-control">
			<button class="btn btn-sm fleet-mode {{mode.cls}}" ng-class="{'btn-warning': danger}" ng-repeat="mode in viewModes" ng-click="changeViewMode(mode)">
				<translate name-param="mode.name" category="label"/>
			</button>
		</div>
	</script>

	<script type="text/ng-template" id="control.refresh.tpl.html">
		<div class="refresh-control">
			<input type="checkbox" ng-model="refreshOption.refresh">Refresh Every</input>
			<input type="number" ng-model="refreshOption.interval" class="margin-l10 max-w50"> Minutes</input>
			<input type="checkbox" ng-model="refreshOption.autoFit" class="margin-l10"> Auto Fit</input>
		</div>
	</script>

	<ui-gmap-google-map id='mapCanvas' center='mapOption.center' zoom='mapOption.zoom' control="mapControl" fit="false">

		<ui-gmap-map-control template="control.viewmode.tpl.html" controller="MapModeControlCtrl" position="top-center" index="1"></ui-gmap-map-control>

		<ui-gmap-map-control template="control.refresh.tpl.html" controller="MapRefreshControlCtrl" position="bottom-right" index="1"></ui-gmap-map-control>

		<!-- markers -->
		<ui-gmap-markers models="markers" coords="'self'" idKey="'_id'" events="'events'" icon="'icon'" control="markerControl" options="'options'"></ui-gmap-markers>

		<!-- lines -->
		<ui-gmap-polylines models="polylines" path="'path'" stroke="'stroke'" visible="'visible'" geodesic="'geodesic'" control="polylineControl" static='true'></ui-gmap-polylines>

		<!-- fleet marker window -->
		<ui-gmap-window id="fleetWindow" coords="selectedMarker" show="windowSwitch.showFleetInfo" closeClick="switchOffAll()">
			<div>
				<div class="photos pull-left">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img ng:src="{{selectedMarker.car_image ? selectedMarker.car_image : '/assets/ph_car.png'}}"/>
							</div>
							<div class="item">
								<img ng:src="{{selectedMarker.driver.img ? selectedMarker.driver.img : '/assets/ph_user.png'}}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="pull-left">
					<table class="detail-info-table">
						<tr>
							<th class="modal-icon dot-gray">
								<translate name-value ="Fleet" category="label"/>
							</th>
							<td>{{selectedMarker.name}}</td>
						</tr>
						<tr>
							<th class="modal-icon dot-gray">
								<translate name-value ="Group" category="label"/>
							</th>
							<td>{{selectedMarker.fleet_group ? selectedMarker.fleet_group.name : ''}}</td>
						</tr>
						<tr>
							<th class="modal-icon dot-gray">
								<translate name-value ="Car No" category="label"/>
							</th>
							<td>{{selectedMarker.car_no}}</td>
						</tr>
						<tr>
							<th class="modal-icon dot-gray">
								<translate name-value ="Model" category="label"/>
							</th>
							<td>{{selectedMarker.car_model}}</td>
						</tr>
						<tr>
							<th class="modal-icon dot-gray">
								<translate name-value ="Drivers" category="label"/>
							</th>
							<td>{{selectedMarker.driver.name}}</td>
						</tr>
						<tr>
							<th class="modal-icon dot-gray">
								<translate name-value ="SW Version" category="label"/>
							</th>
							<td>{{selectedMarker.sw_ver}}</td>
						</tr>
					</table>
				</div>
				<div class="col-xs-12 padding-clear detail-address margin-t5 map-window">address</div>
				<div ng-show="'{{selectedMarker.trip_id}}' != ''" class="col-xs-12 padding-clear margin-t5">
					<button ng-click="$parent.goTrip('{{selectedMarker.trip_id}}')" class="btn modal-btn-trip btn-success btn-sm pull-right">Go Trip</button>
				</div>
			</div>
		</ui-gmap-window>

		<!-- trip marker window -->
		<ui-gmap-window id="tripWindow" coords="selectedMarker" show="windowSwitch.showTripInfo" closeClick="switchOffAll()">
			<div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value ="Trip ID" category="label"/>
					<strong>{{selectedMarker.id}} [ {{selectedMarker.type}} ]</strong>
				</div>
				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Started At" category="label"/>
					{{selectedMarker.stm | fmstime}}
				</div>
				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Finished At" category="label"/>
					{{selectedMarker.etm | tripendtime}}
				</div>
				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Saved At" category="label"/>
					{{selectedMarker.utm | fmstime}}
				</div>
			</div>
		</ui-gmap-window>

		<!-- batch marker window -->
		<ui-gmap-window id="batchWindow" coords="selectedMarker" show="windowSwitch.showBatchInfo" closeClick="switchOffAll()">
			<div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value ="Batch ID" category="label"/>
					<strong>{{selectedMarker.id}} [ {{selectedMarker.type}} ]</strong>
				</div>
				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Started At" category="label"/>
					{{selectedMarker.stm | fmstime}}
				</div>
				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Finished At" category="label"/>
					{{selectedMarker.etm | tripendtime}}
				</div>
				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Saved At" category="label"/>
					{{selectedMarker.utm | fmstime}}
				</div>
			</div>
		</ui-gmap-window>

		<!-- track marker window -->
		<ui-gmap-window id="trackWindow" coords="selectedMarker" show="windowSwitch.showTrackInfo" closeClick="switchOffAll()">
			<div>
				<div>Track ID : <strong>{{selectedMarker.id}}</strong></div>
				<pip-image front-image-url="{{selectedMarker.f_img}}" rear-image-url="{{selectedMarker.r_img}}">
				</pip-image>

				<div class="detail-item margin-t5">
					<translate class="modal-icon dot-gray min-w100" name-value ="Occurred At" category="label"/>
					{{selectedMarker.ttm | fmstime}}
				</div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray min-w100" name-value ="Saved At" category="label"/>
					{{selectedMarker.ctm | fmstime}}
				</div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value ="Speed" category="label"/>
					<span class="{{selectedMarker.typeClass}}"></span>{{selectedMarker.vlc | fmsvelocity : true}}
				</div>
				<div class="detail-item margin-t5">
					<span class="modal-icon dot-gray">G-X</span>
					<strong>{{selectedMarker.gx}}</strong>
					<span class="modal-icon dot-gray">G-Y</span>
					<strong>{{selectedMarker.gy}}</strong>
					<span class="modal-icon dot-gray">G-Z</span>
					<strong>{{selectedMarker.gz}}</strong>
				</div>
			</div>
		</ui-gmap-window>

		<!-- event marker window -->
		<ui-gmap-window id="eventWindow" coords="selectedMarker" show="windowSwitch.showEventInfo" closeClick="switchOffAll()">
			<div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value="Event Id" category="label"/>
					<strong>{{selectedMarker.id}}</strong>
				</div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value="Occurred At" category="label"/>
					<strong>{{selectedMarker.etm | fmstime}}</strong>
				</div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value="Saved At" category="label"/>
					<strong>{{selectedMarker.ctm | fmstime}}</strong>
				</div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value="Speed" category="label"/>
					<span class="{{selectedMarker.typeClass}}"></span> {{selectedMarker.vlc | fmsvelocity : true}}
				</div>
				<div class="detail-item">
					<translate class="modal-icon dot-gray" name-value="Geofence" category="label"/>
					{{ selectedMarker.geoInfo }}
				</div>
				<div class="detail-item margin-t5">
					<span class="modal-icon dot-gray">G-X</span>
					<strong>{{selectedMarker.gx}}</strong>
					<span class="modal-icon dot-gray">G-Y</span>
					<strong>{{selectedMarker.gy}}</strong>
					<span class="modal-icon dot-gray">G-Z</span>
					<strong>{{selectedMarker.gz}}</strong>
				</div>
				<div class="detail-address map-window"></div>
			</div>
		</ui-gmap-window>

		<!-- movie window
		<ui-gmap-window id="movieWindow" coords="selectedMarker" show="windowSwitch.showMovieInfo" closeClick="switchOffAll()">
			<pip-video
				event-id="{{!selectedMarker ? '' : selectedMarker.id}}"
				occurred-at="{{!selectedMarker ? '' : (selectedMarker.etm | fmstime)}}"
				saved-at="{{!selectedMarker ? '' : (selectedMarker.ctm | fmstime)}}"
				velocity="{{!selectedMarker ? '' : (selectedMarker.vlc | fmsvelocity : true)}}"
				gx="{{!selectedMarker ? '' : selectedMarker.gx}}"
				gy="{{!selectedMarker ? '' : selectedMarker.gy}}"
				gz="{{!selectedMarker ? '' : selectedMarker.gz}}"
				address="{{!selectedMarker ? '' : selectedMarker.address}}"
				video-url="{{!selectedMarker ? '' : selectedMarker.vdo}}"
				front-video-url="{{!selectedMarker ? '' : selectedMarker.f_vdo}}"
				rear-video-url="{{!selectedMarker ? '' : selectedMarker.r_vdo}}"
				audio-url="{{!selectedMarker ? '' : selectedMarker.ado}}"
				>
			</pip-video>
		</ui-gmap-window -->

	</ui-gmap-google-map>

</div>
