<div ng-controller='MonitorMapCtrl'>
	<ui-gmap-google-map id='mapCanvas' center='mapOption.center' zoom='mapOption.zoom' control="mapControl">

		<!-- markers -->
		<ui-gmap-markers models="markers" coords="'self'" idKey="'id'" events="'events'" icon="'icon'" control="mapControl"></ui-gmap-markers>

    <!-- lines -->
    <ui-gmap-polylines models="polylines" path="'path'" stroke="'stroke'" visible="'visible'" geodesic="'geodesic'" static='true'></ui-gmap-polylines>

		<!-- fleet marker window -->
    <ui-gmap-window id="fleetWindow" coords="selectedMarker" 
      show="windowSwitch.showFleetInfo" closeClick="closeClick()">
			<div>
        <div class="photos">
          <img src="/assets/ph_car.png"/>
          <img src="/assets/ph_user.png" hidden/>
        </div>
        <div>
            <button>Toggle photo</button>
        </div>
        <div style="overflow: auto;">
          <strong>Fleet : {{selectedMarker.name}}</strong>
          <span>Model : {{selectedMarker.car_model}}</span>
          <span>Car No. : {{selectedMarker.car_no}}</span>
          <span>Drivers : {{selectedMarker.driver.name}}</span>
          <span>Location : {{selectedMarker.address}}</span>
        </div>
        <div ng-show="'{{selectedMarker.trip_id}}' != ''">
          <button ng-click="$parent.goTrip()">Go Trip</button>
        </div>
      </div>
		</ui-gmap-window>

    <!-- trip marker window -->
    <ui-gmap-window id="tripWindow" coords="selectedMarker" 
      show="windowSwitch.showTripInfo" closeClick="closeClick()">
      <div>
        <div>Recorded at <strong>{{selectedMarker.stm | date:'medium'}}</strong></div>
        <div>Trip Started at {{selectedMarker.stm | date:'medium'}}</div>
        <div>Trip ID <strong>{{selectedMarker.trip_id}}</strong>/<strong>{{selectedMarker.type}}</strong></div>
      </div>
    </ui-gmap-window>

    <!-- batch marker window -->
    <ui-gmap-window id="batchWindow" coords="selectedMarker" 
      show="windowSwitch.showBatchInfo" closeClick="closeClick()">
      <div>
        <div>Recorded at <strong>{{selectedMarker.utm | date:'medium'}}</strong></div>
        <div>Batch Started at {{selectedMarker.stm | date:'medium'}}</div>
        <div>Batch ID <strong>{{selectedMarker.batch_id}}</strong>/<strong>{{selectedMarker.type}}</strong></div>
      </div>
    </ui-gmap-window>

    <!-- track marker window -->
    <ui-gmap-window id="trackWindow" coords="selectedMarker" 
      show="windowSwitch.showTrackInfo" closeClick="closeClick()">
      <div>
        <div>Track ID <strong>{{selectedMarker.track_id}}</strong></div>
        <div>Recorded at <strong>{{selectedMarker.ctm | date:'medium'}}</strong></div>
        <div>Track Started at {{selectedMarker.ttm | date:'medium'}}</div>
        <div>Speed <strong>{{selectedMarker.vlc}}</strong></div>
        <div>G-X <strong>{{selectedMarker.gx}}</strong></div>
        <div>G-Y <strong>{{selectedMarker.gy}}</strong></div>
        <div>G-Z <strong>{{selectedMarker.gz}}</strong></div>
        <pip-image front-image-url="{{selectedMarker.f_img}}" rear-image-url="{{selectedMarker.r_img}}">
        </pip-image>
      </div>
    </ui-gmap-window>

    <!-- event marker window -->
    <ui-gmap-window id="eventWindow" coords="selectedMarker" 
      show="windowSwitch.showEventInfo" closeClick="closeClick()">
      <div>
        <pip-video front-video-url="{{selectedMarker.f_vdo}}"
            rear-video-url="{{selectedMarker.r_vdo}}"
            audio-url="{{selectedMarker.ado}}">
        </pip-video> 
        <div class="detial-time">Occurred at <strong>{{selectedMarker.etm | date:'medium'}}</strong></div>
        <div class="detail-address">{{selectedMarker.address}}</div>
        <table class="detail-info-table">
          <tr>
            <th>Speed</th>
            <td>{{selectedMarker.vlc}}</td>
          </tr>
          <tr>
            <th>Event ID</th>
            <td>{{selectedMarker.event_id}}</strong>/<strong>{{selectedMarker.typ}}</td>
          </tr>
          <tr>
            <th>G-X</th>
            <td>{{selectedMarker.gx}}</td>
          </tr>
          <tr>
            <th>G-Y</th>
            <td>{{selectedMarker.gy}}</td>
          </tr>
          <tr>
            <th>G-Z</th>
            <td>{{selectedMarker.gz}}</td>
          </tr>
        </table>
      </div>
    </ui-gmap-window>

	</ui-gmap-google-map>
</div>