<div>
  <div class="pip-container">
    <a class="toggler">Toggle</a>
    <video ng-attr-src="{{ frontVideoUrl }}" controls class="front-video backward-layer"></video>
    <video ng-attr-src="{{ rearVideoUrl }}" controls class="rear-video backward-layer" hidden></video>
    <audio ng-attr-src="{{ audioUrl }}" hidden></audio>
  </div>

  <div class="detail-item">
    <translate class="modal-icon dot-gray" name-value="Event ID" category="label" display ="Event ID"></translate>
    <strong>{{ eventId }}</strong>
  </div>        
  <div class="detail-item">
    <translate class="modal-icon dot-gray" name-value="Occurred at" category="label" display ="Occurred at"></translate>
    <strong>{{ occurredAt }}</strong>
  </div>
  <div class="detail-item">
    <translate class="modal-icon dot-gray"  name-value="Speed" category="label" display ="Speed"></translate>
    <span class="selectedMarker.typeClass"></span> {{ velocity }}
  </div>
  <div class="detail-item">
    <span class="modal-icon dot-gray">G-X</span>
    <strong>{{ gx }}</strong>
    <span class="modal-icon dot-gray">G-Y</span>
    <strong>{{ gy }}</strong>
    <span class="modal-icon dot-gray">G-Z</span>
    <strong>{{ gz }}</strong>
  </div>
  <div class="detail-address map-window margin-t5">{{ address }}</div>
</div>