<% if user_signed_in? %>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#">report 1</a></li>
			<li><a href="#">report 2</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle setting" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#">setting 1</a></li>
			<li><a href="#">setting 2</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
		<!--a href="<%= destroy_user_session_path %>" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">user@trackvue.com <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#">english</a></li>
			<li><a href="#">spanish</a></li>
			<li><a href="#">french</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#">logout</a></li>
		</ul-->
	</li>
<% else %>
	<li><%= link_to 'Sign in', new_user_session_path %></li>
	<li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>


