<% if user_signed_in? %>

	<li class="dropdown">
		<a href="#/" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map <span class="caret"></span></a>
	</li>

	<li class="dropdown">
		<a href="#/geofence" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Geofence <span class="caret"></span></a>
	</li>	

	<li class="dropdown">
		<a href="#" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#">report 1</a></li>
			<li><a href="#">report 2</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#/settings" class="dropdown-toggle setting" 
			 data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			Setting <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#/settings/drivers">Drivers</a></li>
			<li><a href="#/settings/fleets">Fleets</a></li>
			<li><a href="#/settings/groups">Groups</a></li>
			<li><a href="#/settings/preferences">Preferences</a></li>
		</ul>
	</li>	

	<!--top-report></top-report>

	<top-settings></top-settings-->

<% else %>
	<li><%#= link_to 'Sign in', new_user_session_path %></li>
	<li><%#= link_to 'Sign up', new_user_registration_path %></li>
<% end %>


