<!-- header begin -->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <top-brand></top-brand>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <%= render 'layouts/navigation_links' %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <top-profile username="<%= current_user.name %>"></top-profile>
        <% end %>
      </ul>
			<dic class="nav navbar-nav navbar-right alert-count"><span>12</span></div>
    </div>
  </div>
</nav>