<% if user_signed_in? %>

	<top-report></top-report>

	<top-settings></top-settings>

	<top-profile username="<%= current_user.name %>"></top-profile>

<% else %>
	<li><%= link_to 'Sign in', new_user_session_path %></li>
	<li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>


