<% if user_signed_in? %>
	
	<li class="top-menu">
		<a href="#/" class="icon-map">Map</a>
	</li>
	
	<li class="top-menu">
		<a href="#/geofence" class="icon-geofence">Geofence</a>
	</li>
	
	<li class="top-menu">
		<a href="#/" class="icon-hr">HR</a>
	</li>
	
	<li class="top-menu">
		<a href="#/" class="icon-report">Report</a>
	</li>
	
	<li class="top-menu">
		<a href="#/settings/drivers" class="icon-setting">Setting</a>
	</li>
<!--
	<li class="top-menu">
		<a href="#/" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map</a>
	</li>

	<li class="top-menu">
		<a href="#/geofence" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Geofence</a>
	</li>

	<li class="top-menu">
		<a href="#" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR</a>
	</li>

	<li class="top-menu">
		<a href="#" class="dropdown-toggle report" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report</a>
	</li>

	<li class="top-menu">
		<a href="#/settings/drivers" class="dropdown-toggle setting"
			 data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			Setting
		</a>
		<ul class="dropdown-menu">
			<li><a href="#/settings/drivers">Drivers</a></li>
			<li><a href="#/settings/fleets">Fleets</a></li>
			<li><a href="#/settings/groups">Groups</a></li>
			<li><a href="#/settings/preferences">Preferences</a></li>
		</ul>
	</li>	 -->

	<!--top-report></top-report>

	<top-settings></top-settings-->

<% else %>
	<li><%#= link_to 'Sign in', new_user_session_path %></li>
	<li><%#= link_to 'Sign up', new_user_registration_path %></li>
<% end %>


