<div ng-controller='SettingsCtrl'> 
	<!-- side panel begin -->
	<div class="col-xs-3 col-md-3 side-panel">
		<div class="height-full">
			<div>
				<a href="#/settings/drivers">
					<translate name-value ="Drivers" category="menu"/>
				</a>
			</div>
			<div>
				<a ui-sref="settings.fleets">
					<translate name-value ="Fleets" category="menu"/>
				</a>
			</div>
			<div>
				<a ui-sref="settings.groups">
					<translate name-value ="Groups" category="menu"/>
				</a>
			</div>
			<div>
				<a ui-sref="settings.preferences">
					<translate name-value ="Preferences" category="menu"/>
				</a>
			</div>
			<div>
				<a ui-sref="#/settings/company">
					<translate name-value ="Company" category="menu"/>
				</a>
			</div>			
		</div>
	</div>
</div>